[2016-09-13 07:53] rpjengaard opened #1 "Forslag: mulighed for at hvert redirect har statistik"
I første omgang ville det være rart bare med en counter der incrementes hver gang redirectet rammes.

[2016-12-12 12:34] abjerner opened #2 "Use the correct language files"
The package should provide language files for `en-GB` and `en-US` rather than just `en`.

See: https://github.com/skybrud/Skybrud.Umbraco.Redirects/tree/master/src/Skybrud.Umbraco.Redirects/App_Plugins/Skybrud.Umbraco.Redirects/Lang

[2016-12-12 12:38] tnielsenskybruddk opened #3 ".aspx bliver sorteret fra"
På danishcrown.dk oplever vi, at .aspx bliver sorteret fra, når man opretter et nyt redirect (som indeholder .aspx). Pt. løser vi problemet ved at tilføje det manuelt i databasen efterfølgende.

[2017-01-24 21:43] protherj opened #4 "Zip file is missing a dependent dll: Skybrud.WebApi.Json"
If I download the zip file from the Releases on Github, then copy the files into a new download of Umbraco I get an error page on load:

Server Error in '/' Application.

Could not load file or assembly 'Skybrud.WebApi.Json, Version=1.0.3.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified.

This is a bit of a pain because the releases of

[2017-01-24 22:30] abjerner commented on #4
Sorry about that. The DLL should obviously be in the ZIP release as well - I'll look into that tomorrow.

Thanks for reporting ;)

[2017-01-25 16:32] abjerner commented on #2
Fixed and will be part of the next release :D

[2017-01-25 16:32] #2 closed

[2017-01-25 16:40] abjerner opened #5 "Add search functionality to the redirects dashboard"
The redirects dashboard should let users search through the added redirects

[2017-01-25 16:41] abjerner opened #6 "Update the redirects property editor to support media"
The current property editor only supports content.

[2017-01-26 00:08] bjarnef opened #7 "Unable to load redirects"
I installed the package v.0.2.2 via NuGet and added the dashboard.

After refreshing browser the dashboard is added, but I get the following error:
![image](https://cloud.githubusercontent.com/assets/2919859/22314832/8e5ae124-e363-11e6-937f-2f332e3409a3.png)

Tested in Umbraco version 7.5.8 and on Umbraco Cloud, but local - so the db is SQL CE.

[2017-01-26 10:08] abjerner commented on #7
Thanks for reporting.

I haven't tested with Umbraco Cloud, but I have tested locally SQL CE without any problems.

Can you see more details about the error? Either by using Chrome to inspect the failed HTTP call (I can't remember whether there something useful in the JSON) or the the Umbraco log?

[2017-01-26 10:20] bjarnef commented on #7
I didn't seem any errors in the logs, but maybe it is an issue, when using Courier?
So this project was using Courier v.3.0.4 ...

I have uninstalled the package again is this project and installed UrlTracker since it is going live soon.. but I could try installing the package on another project and see if there is a more specific error message in the request.

[2017-01-26 14:58] abjerner commented on #7
I'm not using Contour, but if you have installed the package using NuGet, I'm assuming you have installed it locally, so with what I know about Contour, it shouldn't do any difference locally.

Anyways, I can see that I need to add some more error handling and logging. Could your try something like:

[code]

The API controller will call the `GetRedirects` method in the `RedirectsRepository` class,

[2017-01-26 22:09] bjarnef commented on #7
I have checked the error message further.
It returns `Failed to load resource: the server responded with a status of 500 (Internal Server Error)` in `/umbraco/backoffice/api/Redirects/GetRedirects?limit=10&page=1 Failed to load resource: the server responded with a status of 500 (Internal Server Error)`

Clicking this link returns the stacktrace:

[code]

![image](https://cloud.githubusercontent.c

[2017-01-26 22:16] abjerner commented on #7
Thanks - that helped a bit. Although it also doesn't make sense.

According to the stack trace, your solution is missing the `Skybrud.Essentials.Time.EssentialsDateTime` class from the `Skybrud.Essentials` package.

The NuGet package has a dependency for our `Skybrud.LinkPicker` package, which again has as dependency for the missing `Skybrud.Essentials`. If you have installed the redirects package

[2017-01-26 22:20] bjarnef commented on #7
The /bin folder contains these Skybrud assemblies:

![image](https://cloud.githubusercontent.com/assets/2919859/22352781/e399abba-e41d-11e6-86cd-897e6fd60bda.png)

and my packages.config

![image](https://cloud.githubusercontent.com/assets/2919859/22352827/0645d38c-e41e-11e6-9920-fd098671dea6.png)

[2017-01-26 22:22] bjarnef commented on #7
Is this the expected version for `Skybrud.Essentials.dll`

![image](https://cloud.githubusercontent.com/assets/2919859/22352882/4aad5a22-e41e-11e6-8a2d-9e34e043c8d5.png)

[2017-01-26 22:25] bjarnef commented on #7
The latest version of `Skybrud.Essentials` on NuGet is 1.0.7, but it installs version 1.0.0 ... is `EssentialsDateTime` added in a later version?

[2017-01-26 22:31] abjerner commented on #7
Nope, the `Skybrud.Essentials` DLL is too old. The `EssentialsDateTime` class was added after `v1.0.0`, but is part of `v1.0.7`.

I can see that the redirects package has a dependency for an older version of the `Skybrud.LinkPicker` package, which again has a dependency for an older version of the `Skybrud.Essentials` package. Which is why the code fails. It should work if you update `Skybrud.Esse

[2017-01-26 22:44] bjarnef commented on #7
Yes, it fixed the error after updating `Skybrud.Essentials` to version `1.0.7`

I guess the missing localization is just the missing part, you also added in the commit yesterday?

![image](https://cloud.githubusercontent.com/assets/2919859/22353390/6f8a486c-e420-11e6-8d55-b3e58e50a256.png)

I was wondering what `Skybrud.Umbraco.GridData` is used for? or only because it is a dependency of `Skybrud.

[2017-01-26 22:50] abjerner commented on #7
Yes, the missing localization was fixed yesterday. With the latest release, there is a translation for `en-GB`, but as far is I remember, Umbraco will look for `en-US` by default. So the commit yesterday adds translations for both languages.

You're also correct regarding the GridData package. `Skybrud.Umbraco.Redirects` uses components from `Skybrud.LinkPicker`, which again has a dependency for `

[2017-01-29 22:17] abjerner commented on #4
I have now released [v0.2.3](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v0.2.3), where the ZIP now contains the required DLLs ;)

Although now included in the release mentioned above, the DLL of `Skybrud.WebApi.Json` is now also available for download here: https://github.com/abjerner/Skybrud.WebApi.Json/releases

[2017-01-29 22:17] #4 closed

[2017-01-29 22:21] abjerner commented on #7
I ended of dropping the dependency for `Skybrud.LinkPicker`, which the list of dependencies a bit more single.

I've also pushed a new release with the updated dependencies here: https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v0.2.3

[2017-01-29 22:21] #7 closed

[2017-01-29 22:21] #6 closed

[2017-01-29 22:23] abjerner commented on #3
@tnielsenskybruddk Jeg kan ikke genskabe denne, så måske er det blevet rettet/ændret i Umbraco (da vi egentlig blot bruger deres linkpicker-dialog).

[2017-01-29 22:34] abjerner opened #8 "Improve localization"
There are still a few labels that are either hardcoded in English or Danish - eg. most notifications are in Danish.

[2017-02-09 12:42] abjerner commented on #5
Implemented in [v0.2.4](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v0.2.4).

[2017-02-09 12:42] #5 closed

[2017-02-09 13:02] abjerner commented on #8
New search fields added in `v0.2.4` should be localized as well. The labels in the dropdown are currently hardcoded in English.

[2017-02-14 15:40] ismailmayat opened #9 "Updated existing redirect"
Anders,

I created a new redirect and the destination was an umbraco page.  I then went to edit it and set it to an external page however I cannot do that the url part is now fixed. Only thing I can do is delete and recreate.

Am I missing something?

Regards

Ismail

[2017-02-16 15:07] abjerner commented on #9
Hi Ismail,

The dialog we're using is really just Umbraco's default linkpicker dialog, which - at least for some parts - isn't that user friendly due to some "point of no return" states.

Ideally we should create or own dialog or improve Umbraco's through a pull request, but it's not something  I have looked into yet.

[2017-02-16 15:17] ismailmayat commented on #9
Anders,

Yeah I could have sworn that the umbraco one has x in red to remove currently picked item?  Very wierd

[2017-02-16 18:57] abjerner commented on #9
@ismailmayat We're using the linkpicker dialog, which is the "old way" to work with the linkpicker. Umbraco also has a newer linkpicker overlay, that looks a little different - but suffers from the same issue.

Anyways, since I agree with you, I have created an issue for the linkpicker overlay here: http://issues.umbraco.org/issue/U4-9542

[2017-03-23 11:01] abjerner opened #10 "Improve the site filter"
With the site filter introduced in `v0.2.5`, there are currently no way to only show redirects where a site hasn't been specified. You can either choose to show _all_ redirects, or redirects for a specified site.

Ideally there should also be an option for _Not specified_.

[2017-03-23 11:03] tnielsenskybruddk opened #11 "Tillad ikke, at man vælge sites, som ligger i papirkurven"
På nuværende tidspunkt er det muligt at vælge et site, som ligger i papirkurven.

![2017-03-23 25](https://cloud.githubusercontent.com/assets/3634628/24244909/1878c220-0fc1-11e7-966d-48f0a0624e49.png)

[2017-03-23 21:44] abjerner opened #12 "A new property editor listing the redirects of an entire site"
The package already has a dashboard for viewing all redirects across the Umbraco installation as well as a property editor for listing the redirects pointing to a given content or media item.

It would also be useful to have a property editor listing the redirects for which the current site (based on domains and root nodes) have been selected.

[2017-03-23 21:52] abjerner opened #13 "Disable Angular dirty checking for the dashboard and property editor"
Angular and Umbraco will automatically do dirty checking (whether a field has an unsaved value) for dropdowns, input fields and similar since these are located within a form element. With the current dirty checking, user might see a notification like this (in Danish):

![image](https://cloud.githubusercontent.com/assets/3634580/24271927/5e2a4ec4-101b-11e7-90b2-1629465ae99c.png)

While the package

[2017-05-30 14:13] mastrup opened #15 "Keep design consistent with Umbraco backoffice"
The user experience could be streamlined if the listview matched the Umbraco Redirect URL Management.
I was thinking of:
- moving the redirect icon
- renaming the "destination" column to "redirected to"
- Color the "delete" button and rename it to "remove"

![Updated view](http://i.imgur.com/cQxXdXN.png)

And this is how the Umbraco Redirect URL Management looks:
![Umbraco redirect url management]

[2017-05-30 14:22] abjerner commented on #15
Thanks again :D

The redirects list view was more inspired by the regular Umbraco list views - but you have some good points. I'll look into fixing that ;)

[2017-05-31 06:45] bjarnef commented on #15
Also note the style issue with the buttons "Add new redirect" and "Reload".

It happens because the Diplo Trace Log Viewer unfortunately force `select` tags to 100% width.
![image](https://cloud.githubusercontent.com/assets/2919859/26619026/f19f24b2-45dc-11e7-8b8f-e37a8c9d62dd.png)

![image](https://cloud.githubusercontent.com/assets/2919859/26619051/055a531e-45dd-11e7-9ced-a95d478466ab.png)

It s

[2017-06-20 15:24] KirschnerMatt opened #16 "Fresh install, adding a redirect fails with error in Danish"
Just installed this cool package. After following the setup guide, I attempted to add a redirect and received an untranslated error when attempting to submit:

Oprettelse fejlede: Grundet en fejl på serveren kunne dit redirect ikke oprettes.
Translation - Creation failed: Due to an error on the server, your redirect could not be created.

This is on my localhost and I couldn't find any more verbos

[2017-06-20 15:45] KirschnerMatt commented on #16
Still having this issue, though I did figure out the Site dropdown options are determined by the Culture and Hostname setting on the root node. Even with my site properly declared, I get the same error message.

[2017-06-20 16:03] abjerner commented on #16
@KirschnerMatt Thanks for reporting. I tested adding a new redirect, and can confirm this is an issue in 7.6.1, but not in 7.5.14. I will investigate further ;)

[2017-06-20 16:50] abjerner commented on #16
Umbraco has apparently changed something for 7.6.x that affected the way the package was making calls to the database. I have adjusted the code a bit, and it now seems to work for 7.6.x as well. New release is here:

https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v0.2.8

Can you confirm that the new release is also working for you?

[2017-06-20 17:07] KirschnerMatt commented on #16
That did the trick, though the success response was still in Danish rather than English. Is it perhaps due to this open issue? https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/8

My localization settings are set to en-US.

[2017-06-20 17:13] abjerner commented on #16
Regarding the response, there are still some phrases throughout the package that are still hardcoded in either English or Danish. I haven't gotten around to fix this yet, but yes - it really should be fixed as well.

[2017-06-20 17:13] #16 closed

[2017-06-20 17:22] KirschnerMatt commented on #16
Groovy, thanks for the update.

I like this package a lot, the Redirect property editor in particular is fantastic. Great job!

[2017-06-26 08:09] bjarnef opened #17 "Feature request: Forward querystring"
It would be nice if this redirect package supported forwarding querystring like UrlTracker does.

![image](https://user-images.githubusercontent.com/2919859/27530089-5e003e6e-5a57-11e7-8d7c-d846bebe87bc.png)

[2017-08-02 06:42] skttl opened #18 "Feature request: Regex matching old urls"
"just like 301 url tracker has" :)

[2017-08-02 10:22] skttl commented on #13
There is a directive in core that can be used. https://github.com/umbraco/Umbraco-CMS/blob/5397f2c53acbdeb0805e1fe39fda938f571d295a/src/Umbraco.Web.UI.Client/src/common/directives/validation/nodirtycheck.directive.js

Unfortunately it doesn't work on <select>s

[2017-08-10 07:54] tomvanenckevort-ez opened #22 "Site-specific redirects for static files not working"
When you try to add a redirect for a static file, for example from `http://www.mysite.com/old.pdf` to `http://www.mysite.com/my-new-page`, it will not work when you select a specific site from the dropdown.

Since it will go through the HttpModule without an Umbraco context it will fail to get the domain assigned for the current request, and it will default to get the redirects which are set to 'A

[2017-08-16 18:33] abjerner commented on #22
Thanks for the issue and pull request. I haven't had the time to look into it after coming back from vacation, but I'll hopefully have some time soon ;)

[2017-08-23 07:32] martijn1k commented on #22
Excellent Tom! I have the same issue when migrating a site, .html, .pdf etc. redirects are not working.
Thanks for figuring out a work-arround, much appreciated.

[2017-08-28 08:00] abjerner opened #24 ""href" attribute doesn't include the query string"
https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/master/src/Skybrud.Umbraco.Redirects/App_Plugins/Skybrud.Umbraco.Redirects/Views/Dashboard.html#L56

[2017-08-28 08:01] abjerner commented on #24
Appears to be the same here: https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/master/src/Skybrud.Umbraco.Redirects/App_Plugins/Skybrud.Umbraco.Redirects/Views/PropertyEditor.html#L52

[2017-08-28 09:34] #24 closed

[2017-08-28 11:42] martijn1k commented on #17
+1

This would be extremely useful... Adwords/Tag Manager/Analytics etc. are adding all kind of querystring decorations. We've just relaunched a site and noticed that querystrings are ignored in forwards, as well as static file extensions (I noticed another issue for this).

By the way guys... I LOVE this package, great work.
Much much nicer than the 301 Tracker.

Keep up the good work!

[2017-08-28 11:50] abjerner commented on #11
@tnielsenskybruddk this is now part of [v0.2.10](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v0.2.10) ;)

[2017-08-28 11:50] #11 closed

[2017-08-28 11:53] abjerner commented on #13
@skttl Thanks. I'm not sure I understand your last line, but yes, I've been using `no-dirty-check` in some of our other packages, but hadn't gotten around to add it here. At least until now - I've just pushed a new release ([v0.2.10](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v0.2.10)) that disables the relevant the dirty checking ;)

[2017-08-28 11:53] #13 closed

[2017-08-28 11:58] abjerner commented on #17
Thanks for the feedback. The package has been a bit neglected over the summer due to vacation etc., but I've just pushed a new release to fix some of the low hanging fruits. I will try to look into this issue as well ;)

[2017-08-28 12:11] martijn1k commented on #17
Excellent news! Yeah understandable man, taking a well deserved break is important too right?

I think there are some pull requests relevant to both issues.

Your package could easily be the long awaited replacement for the 301 tracker from Mr Kips who no longer maintains it, since that package no longer works for new Umbraco installs (7.6+).

It's much faster, looks great, integrates well.

So ba

[2017-08-28 12:23] skttl commented on #13
Ah, sorry :)

What I was trying to write, was that no-dirty-check doesn't work on select's. At least not for me :)

[2017-08-28 12:26] abjerner commented on #13
No worries ;)

It worked fine for `select` from what I could tell. The `input` field was however a little tricky - it seems changing the order of the attributes may have something to say, as it worked by moving the `no-dirty-check` attribute a bit forward.

[2017-08-28 13:19] skttl commented on #13
Cool :)

man. 28. aug. 2017 kl. 14.26 skrev Anders Bjerner <notifications@github.com

[2017-09-04 09:29] martijn1k opened #25 "Manual URL entry edit broken"
After inserting a static redirect entry, editing it afterwards will result in an empty Original URL field.
Both the Original URL and the Destination are shown in the list. Searching for the original url works,
and the redirect works.

Adding for example:
Original URL: /some-path/some-page/
Destination: https://www.site.com/new-page/

When editing the entry the Desination is still filled in though,

[2017-09-04 15:43] abjerner commented on #25
@martijn1k Thanks for reporting 👍

Can you describe your steps a bit further? I've tried setting up a fresh Umbraco 7.6.5 installation with Skybrud.Umbraco.Redirects 0.2.10, and I haven't been able to reproduce the issue you're describing.

[2017-09-12 12:44] MichaelNielsenDK opened #26 "7.6 support?"
I'm having trouble getting this to work on Umbraco version 7.6.6.

We have used this package previously on multiple other solutions where it works fine, those however are v 7.5 and lower.

I installed via NuGet, added httpModule, added Dashboard, added redirect /test to a node, but nothing happens. The log file does not reveal anything either.

Are there any issues in using this on 7.6?

[2017-09-12 15:50] abjerner commented on #26
@MichaelNielsenDK I think it works fine. At least my 7.6.5 test solution works fine - I will try upgrading it to see whether that changes anything.

What happens when you go to the inbound URL of one of your redirects? And what is the status code? The redirects module only kicks in if the server responds with a 404 error. So on the off chance that your 404 page responds with a 200 status code, the

[2017-09-12 16:00] abjerner commented on #26
Upgrading Umbraco is fast and easy these days :relaxed: The redirects module also seems to work in my now-running-7.6.6 test solution.

[2017-09-13 06:38] MichaelNielsenDK commented on #26
I am getting a 404
http://prntscr.com/gkitdw

So it's quite strange... I'm 99.99% sure I haven't missed anything in the install or configuration, it's not like there is much to do anyway.

But I'll leave it for now, and have another one look at it, maybe another pair of eyes might spot something I cannot.

[2017-09-13 08:33] tomvanenckevort-ez commented on #22
@abjerner Sorry to hassle you, but did you get a chance yet to review the PR?

[2017-09-13 08:54] abjerner commented on #22
@tomvanenckevort-ez Not yet, unfortunately. I'm still working on merging one of the previous pull requests. I don't know yet when I'll be able to merge this pull request :(

[2017-09-13 08:57] tomvanenckevort-hp opened #27 "Feature request: bulk import"
We like using your redirects package and it has pretty much become the standard with all our Umbraco projects.
But one feature we would like to see is a bulk import to be able to import a large list of redirects in one go. Often the redirects 'required' for a site are determined by the SEO team, who then provide us with a spreadsheet of old and new URLs. If there was a way to import those straight

[2017-09-13 11:44] abjerner commented on #27
That sounds awesome, and I do think it would be useful to others as well. But given the amount of active pull requests for this package (and our other packages), it's not something I have the time to add myself - so a pull request would be more than welcome.

There are however a few things we should probably think of:

- It might be specific to each individual Umbraco installation whether editors

[2017-09-14 21:02] bjarnef opened #28 "Change $scope to vm"
I wonder if we should replace `$scope` by `var this = vm;` as discussed on our here and follow the Angular best practice guide as Kevin link to in the forum thread:
https://our.umbraco.org/forum/developing-packages/88025-this-vs-scope-in-angularjs-controllers

and I have noticed Umbraco HQ use it more frequent in core.

[2017-09-14 21:23] abjerner commented on #3
@tnielsenskybruddk Kan du hjælpe med at teste om denne stadig er et issue, eller om den bare skal lukkes?

[2017-09-14 21:35] abjerner commented on #15
Thanks to the pull request from @skttl and a few changes of my own, the table now looks like this:

![image](https://user-images.githubusercontent.com/3634580/30456756-2ce022d0-99a5-11e7-9e53-f0fbe656e9ed.png)

I haven't yet looked into the issue with Diplo Trace Log Viewer, but I'll try to look into that as well for the next release ;)

[2017-09-14 21:36] abjerner commented on #17
The pull request has now been merged, and will be part of the next release (which will probably be released over the weekend once I have done some more testing).

[2017-09-14 21:36] #17 closed

[2017-09-14 21:38] abjerner commented on #25
@martijn1k Anything new for this one?

[2017-09-14 21:42] abjerner commented on #28
Maybe. If using $scope doesn't cause any issues, changing the controller to an isolated scope won't have  that high a priority.

[2017-09-14 21:44] abjerner commented on #26
While working some more on the package the last few days, I've been testing the package using 7.6.6, and haven't experienced any issues with the HTTP module. Can you perhaps send me a copy of the `<modules>` section from your `Web.config`?

[2017-09-14 21:46] abjerner opened #29 "Implement our own link picker dialog/overlay"
Or just use Umbraco's new link picker overlay instead of the old dialog.

[2017-09-14 21:46] bjarnef commented on #28
It is maybe a matter of code style, but also if referring to `$parent` it seems to be better to use `controllerAs` syntax. But it is not that important though.

[2017-09-14 21:47] abjerner commented on #9
I'm closing this issue as I have created another [here](https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/29) instead as it is specifically for updating/changing the link picker dialog.

[2017-09-14 21:47] #9 closed

[2017-09-14 21:55] abjerner commented on #28
I agree regarding the code style. I've marked the issue as **Could have**, so I'll come back to it later. But for now, there are more important issues and pull requests across our packages ;)

[2017-09-14 22:11] bjarnef commented on #26
@abjerner I have tested the Redirect package on a clean Umbraco 7.6.6 install and with the new default starterkit, and the redirect did seem to work as expected.

I thought it could be a conflict with Umbraco Deploy, since that is different from 7.5.x Cloud projects, which use Courier.

I tried cloning the project @MichaelNielsenDK was working on, but I didn't see the module in web.config - only t

[2017-09-15 06:26] bjarnef opened #30 "Umbraco package"
I noticed that this project only exists as a NuGet package: https://github.com/skybrud/Skybrud.Umbraco.Redirects/tree/master/releases

Any reason for not having a Umbraco package and a project on our.umbraco.org?
I might be easier for people to find or know about the package and since many of the other Skybrud-packages exists on Our.

[2017-09-18 20:58] abjerner commented on #15
@mastrup @bjarnef Is the styling from Diplo Trace Log Viewer still an issue with this package? What version is Umbraco Cloud using now?

[2017-09-18 21:00] abjerner commented on #26
As @bjarnef has confirmed this was a configuration issue, I'm closing this issue.

[2017-09-18 21:00] #26 closed

[2017-09-18 21:12] abjerner commented on #30
This is probably due to a combination of a few things. Each way we release our packages is also another way we need to test each new release, which requires some extra time. I have messed up the Umbraco releases for some of our other packages as I've forgotten to test them. Also, this package started as an internal project, so I haven't really gotten around to release it as an Umbraco package.

[2017-09-18 21:33] bjarnef commented on #15
@abjerner no I don't think it is an issue anymore, when updating the Diplo Trace Log Viewer package. I was using Umbraco 7.5.14 on Umbraco Cloud, but I realized after talking with the Umbraco support team that only new projects got latest version of Diplo Trace Log Viewer, so existing project didn't get the package updated. But I could update the package by myself via NuGet.

[2017-09-19 21:47] abjerner commented on #15
@bjarnef thanks for the info 👍

[2017-09-19 21:47] #15 closed

[2017-09-19 21:48] #8 closed

[2017-10-11 07:53] Matthew-Wise opened #31 "Nuget Transforms"
I noticed the NuGet package install requires manual configuration but this could be done using transforms.

Pull request incoming but wanted to raise an issue first

Matt

[2017-10-11 07:59] Matthew-Wise commented on #31
https://github.com/skybrud/Skybrud.Umbraco.Redirects/pull/32

Not sure how to link the two.

[2017-10-21 22:35] abjerner commented on #27
@tomvanenckevort-ez Do you have some thoughts on how an import feature should work?

I have some thoughts of my own that I have tried to summarize below (right now they're just somewhat loose ideas).

The way I see it, it can either be done super simple or slightly more complex (here with CSV as an example):

1. For a simple approach, the redirects dashboard could have an "Import" button. Clicking

[2017-10-23 07:50] tomvanenckevort-ez commented on #27
@abjerner I think it's best to start off simple, with just a CSV file that gets uploaded, parsed and imported (overwriting existing ones if that option has been chosen).

Preview feature could be useful, but you could simplify it by just doing the import and show a summary at the end of the import (i.e. "100 new redirects added, 20 redirects updated, 5 redirects failed") and have the option to sho

[2018-03-07 22:50] greystate opened #33 "Failed to install on Umbraco Cloud v7.8.1"
Just installed the package in a v7.8.1 on Umbraco Cloud but I'm getting what I assume is a DLL version and or reference error:

The DLL is in the bin folder, so I'm suspecting it can't load one of its dependencies (as it says).

[2018-03-07 23:01] abjerner commented on #33
@greystate Thanks for reporting. I'm not really familiar with Cloud, so I'm not sure what would cause this.

Do you have any other Skybrud DLLs in your bin folder? And if so, what are their versions?

[2018-03-07 23:01] abjerner commented on #33
Oh, and does the same code work locally?

[2018-03-07 23:10] greystate commented on #33
Happy to report I was too fast :-)

"locally"??? I'm on a Mac - we don't do Umbraco locally :-)

Turns out the DLLs were actually *not* in the bin folder, as they're ignored by the .gitignore file - had to   force-add them before pushing everything up.

It works now! (Or at least I'm seeing the dashboard - will report further if it doesn't actually work :-)

Thanks!!

[2018-03-07 23:10] #33 closed

[2018-03-21 18:38] #25 closed

[2018-03-21 22:43] abjerner commented on #29
Fixed by using the linkpicker overlay in Umbraco 7.4 and newer (linkpicker dialog is still used as fallback for older versions).

[2018-03-21 22:43] #29 closed

[2018-04-07 19:51] abjerner commented on #22
Should've done this many months ago (again **#H5IS**), but I've now merged the pull request from @tomvanenckevort-ez and pushed a new release: https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v0.3.4

Thanks for the effort 👍

[2018-04-07 19:51] #22 closed

[2018-04-09 07:30] tomvanenckevort-ez commented on #22
Awesome! Thanks for merging and releasing a new version.

[2018-04-30 11:08] Ladefuss opened #35 "No pane appears"
Thanks for creating this great package, Anders.

- Installed latest via Nuget (0.3.4) on umbraco 7.5.13.
- Everything installs and builds.
- I made the required changes to web.config and dashboard.config

Still no "Redirects" pane appears in backoffice.

- No errors in console or log.
- I tried different browser and editing clientdependencies.config to rule out client caching

Have i missed anythi

[2018-04-30 11:33] abjerner commented on #35
@Ladefuss What kind of user are you in the backoffice? The example for adding the dashboard is limited to admins, and therefore won't be shown for editors etc. You can remove the `<access>` element, and it should be shown to all user types ;)

If it still doesn't work, would it be possible for you to share your `/config/Dashboard.config` file?

[2018-04-30 11:35] Ladefuss commented on #35
I am logged in as admin. I removed the <access> node exactly to test if the problem was permission-based but it wasn't.

<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="StartupSettingsDashboardSection">
    <areas>
      <area>settings</area>
    </areas>
    <tab caption="Welcome">
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/setting

[2018-04-30 11:35] Ladefuss commented on #35
Wait. I think i found my error. Don't waste more time for now :)

[2018-04-30 11:37] abjerner commented on #35
Forms? 😄

[2018-04-30 11:40] Ladefuss commented on #35
Exactly :) Thanks again Anders. I will try not to waste more of your time from now on :)

Have a great day in Vejle :) Oh and give my regards to Thomas and Torben :)
They might remember my name back from the early days at Aakjaers :)

[2018-04-30 11:40] #35 closed

[2018-04-30 11:44] abjerner commented on #35
No worries ;)

Thomas is sitting just opposite me at the office, so I've forwarded your regards.

[2018-06-12 13:00] Matthew-Wise commented on #27
Colleague of mine has started working on this  - https://github.com/EnjoyDigital/Skybrud.Umbraco.Redirects

Still a work in progress but figured I'd mention it

[2018-06-12 20:59] abjerner commented on #27
@Matthew-Wise Thanks for the info. I will have a look at that ;)

I've been working on the import part a bit as well. It's mostly just at the playground state at the moment (which is why I haven't pushed it to GitHub yet - although I probably should).

It works around an `IRedirectsProvider` interface, which can be used for both importing and exporting redirects. A solid implementation could then

[2018-08-17 13:04] sniffdk commented on #18
@abjerner any idea how complicated this would be to implement? 😸

[2018-08-19 18:40] skttl commented on #18
Ouch, did I let that go?

I think my main reason to add this, was to ease the migration from 301 Url Tracker, where these might have been used.

Today, I'm not completely sure it would be a good idea to have this feature, and I would probably opt to add the more complex redirects using IIS Rewrite rules.

I think this package is mainly supposed to help editors create their own redirects, and I don

[2018-08-20 08:16] sniffdk commented on #18
I must admit I initially had a "just like 301 url tracker has" moment 😆
As I was searching for a package to replace the old but trusty UrlTracker.

I won't comment on what regular editors need, but it's not always only regular editors who has access to the backoffice 😉
And it's really handy to have all redirects in one place.
Though, in the beginning, it's mostly wildcard matching that I'm looking

[2018-08-21 20:54] abjerner commented on #18
Like Søren, I think redirects with regex or wildcards generally should be added as URL rewrites, but I'd be happy to merge a PR addressing this, as it still may be relevant to some editors.

However adding support for regex URLs will affect performance a bit (even if just a little bit), as we can't do lookups for these at the database level (at least not that I'm aware of). But then again, the pac

[2018-08-23 13:13] ronaldbarendse opened #36 "Adding redirect to new media URL still saves old URL"
Having good image URLs/file names helps with SEO, so an editor is re-uploading images with better filenames from the Umbraco back-office (to the same media entity - I haven't found another built-in way to do this).

Instead of having the editor also manually add the redirect (with query string forwarding on, so ImageProcessor options are preserved), I created an event handler to do this:

[code]

[2018-08-27 17:27] abjerner commented on #36
@ronaldbarendse I think this is a bit of en edge case, but it is actually already supported.

If you change:

[code]

to

[code]

it should work. The second `url` is a raw URL that isn't automatically replaced ;)

[2018-08-28 08:42] ronaldbarendse commented on #36
@abjerner I missed that overload, now it does indeed save the correct URL and shows the redirect is linked to media! 😄

The other issue still remains: the redirect module doesn't seem to use the most recent URL for content and media. So if you change `/media/1000/example.jpg` to `/media/1000/example-2.jpg` and then to `/media/1000/example-3.jpg`, you get 2 redirects when requesting `/media/1000/ex

[2018-09-03 19:30] villian opened #37 "Redirect from default.aspx doesn't work"
Redirect from default.aspx to any other url doesn't work

[2018-09-04 12:01] villian commented on #37
hi, @abjerner , yes in the root

[2018-09-05 08:14] abjerner commented on #37
@villian While I still think of possible solutions, could you perhaps describe your use case a bit more? The more details the better ;)

Some redirects are better handled using IIS rewrites, which may be the case with `/default.aspx`.

[2018-10-02 20:32] abjerner opened #38 "Research forced redirects"
For a number of different reasons, it could make sense to support forced redirects - that is redirects that still works even when the server responds with something other than a 404 status code.

Forced redirects will however mean that the underlying HTTP module will have to look at all server responses, which could affect performance - so this needs to be done right.

[2018-10-16 09:36] bjarnef opened #39 "Redirects are redirecting to parent node url instead of selected node"
We are using the package on a project and we are very happy with it 😁👍

Mostly the redirects are working, but we have a few which doesn't seem to work, e.g. the following:

![image](https://user-images.githubusercontent.com/2919859/47006845-293bee00-d137-11e8-8f27-4f46c4a54bcd.png)

![image](https://user-images.githubusercontent.com/2919859/47006870-33f68300-d137-11e8-9fed-9be1264b57af.png)

It sh

[2018-10-16 10:00] bjarnef commented on #39
Another example from live environment:
`/aktuelt/kosttilskud-foer--under-og-efter-graviditet.aspx -> /aktuelt`

[2018-10-17 13:52] bjarnef opened #40 "Change button style of "Add new redirect""
Maybe it would be better to change style of the button "Add new redirect"?

![image](https://user-images.githubusercontent.com/2919859/47090817-eefc4a80-d223-11e8-87be-5606b93c15fa.png)

It could be something like this using the class `btn-info`.

![image](https://user-images.githubusercontent.com/2919859/47091204-ad1fd400-d224-11e8-82b3-897a8e72ba3e.png)

[2018-10-17 16:01] abjerner commented on #40
@bjarnef Wouldn't `btn-primary` or `btn-success` be more suitable? They are styled the same way, and gives a green button instead of purple. Umbraco seems to be using this as well (or at least in the users section):

![image](https://user-images.githubusercontent.com/3634580/47099761-486d7500-d236-11e8-83e5-fa498b978d9c.png)

Anyways - how did you get a white text color for the button in your scre

[2018-10-17 20:47] bjarnef commented on #40
Yes, I think it could use `btn-primary` or `btn-success` instead. I think Umbraco doesn't use this style much in dashboard because of the save button in the footer.

[2018-10-17 20:51] bjarnef commented on #39
It actually seems it was caused by a ContentFinder only using first url segment to search in urlName in External search index after a matching node, but this would actually match the parent node and it made a 301 redirect, so the manually created redirect had no effect.

[2018-10-18 07:44] #39 closed

[2019-01-24 08:04] rpjengaard opened #41 "Added / after domain, when redirecting externally"
If i create a redirect and redirect to a url with a domain. The package automatically adds an extra / after the domain. Eg. http://gis.vejle.dk**/**NetGISRuntime/basis/index.jsp?custid=235 becomes http://gis.vejle.dk**//**NetGISRuntime/basis/index.jsp?custid=235

[2019-01-24 10:09] rpjengaard commented on #41
Made a commit https://github.com/skybrud/Skybrud.Umbraco.Redirects/commit/542bac07140d3614e28653ed546d4ebb9d768a77

[2019-03-14 15:55] ronaldbarendse opened #43 "Ignore query string on original URL"
When the original URL contains a query string, e.g. `/bad-url?cookie=yes` and a redirect exists for `/bad-url`, it doesn't match. Only when the option 'Forward query string' is enabled, the redirect kicks in (although it keeps the unnecessary query string)...

I would expect the redirect would work anyway, because anyone could just add a query string to the bad/old URL (some tools do this, e.g. li

[2019-03-14 16:11] ronaldbarendse commented on #43
Should be easily fixed by removing ` && x.ForwardQueryString` from:

https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/542bac07140d3614e28653ed546d4ebb9d768a77/src/Skybrud.Umbraco.Redirects/Models/RedirectsRepository.cs#L271

[2019-03-14 16:23] abjerner commented on #43
@ronaldbarendse thanks for reporting 👍

As the package has worked by checking against both the path and query for a while now, I think it will be a breaking change to skip the check on the query string.

I also fear that changing this could have more consequences. For instance it will be harder to check if a redirect already exists as it can then be either a full match or a partial match.

Neverth

[2019-03-14 16:34] ronaldbarendse commented on #43
No breaking change is needed, as it first checks for a redirect with the query string and if it doesn't find one, tries to get the redirect only by URL.

The `ForwardQueryString` option should only impact the handling of matched redirects, not be a predicate when looking up redirects, right?

[2019-03-18 13:48] ronaldbarendse commented on #43
@abjerner Any chance of looking at the submitted PR? With the latest commit, this should work as expected: https://github.com/skybrud/Skybrud.Umbraco.Redirects/pull/44/files?w=1

So if a redirect without query string exists, but the incoming URL _does_ have a query string, it first checks for the exact match (URL and query string), but if it can't find one, checks for a redirect without a query st

[2019-04-25 23:58] mzajkowski commented on #27
@abjerner @Matthew-Wise did anything move further in this topic in your projects? I'm once again ahead of the massive import of the huge CSV/XLS file from the SEO agency and would love to know if there is anything that might save some of the time required to parse it "manually" (= outside of the packages / Umbraco). Beers on me!

[2019-04-26 06:00] Matthew-Wise commented on #27
@mzajkowski the Enjoy Digital branch has a working importer. We have it in production. I know a few people have as well. It's a little out of date so will need updating.

[2019-04-26 06:46] mzajkowski commented on #27
Nice! I'll give it a go then too.

[2019-04-26 11:58] abjerner commented on #27
This is unfortunately one of those things I haven't had the time to follow up on (although I probably should).

I made some progress of my own at some point, so I should make sure to push that - exactly as I wrote last year that I would 🙄

My idea was to make the import/export logic extensible so that you could make your own "provider" for formats not supported out of the box. I can't remember how

[2019-05-28 07:25] ruant opened #45 "Adding redirect for urls including index.php"
I've moved an old Joomla site over to Umbraco.
And I'm trying to do some redirects.
When I try to enter `https://domain.com/index.php/contact-us` I get and error saying:
`The specified URL is not valid. A valid URL should look like /page or /page/subpage.`

If I go to any of these old index.php URL's I do get a 404 response back.

Any tricks to make this work?

[2019-05-28 07:29] ruant commented on #45
Ok. Sorry for that.
I'm just a retard.. The https://domain.com part should be included 🤦‍♂

[2019-05-28 07:29] #45 closed

[2019-05-28 07:35] abjerner commented on #45
@ruant Good to see you found out. But one could argue that the UI could explain this a bit better 😉

[2019-05-28 12:39] ruant commented on #45
Perhaps, or people will find this issue and have the same AHA-moment as I had 😆

[2019-05-28 12:42] ruant commented on #45
I'll make a PR to change the text

[2019-05-28 12:52] ruant commented on #45
https://github.com/skybrud/Skybrud.Umbraco.Redirects/pull/46

[2019-06-12 06:35] ronaldbarendse opened #49 "GetRedirectsByUrl always returns all ForwardQueryString=true redirects"
It looks like the 'Forward query string' is broken in another way (besides not correctly redirecting: https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/43), as `GetRedirectsByUrl` returns all redirects with `ForwardQueryString=true`:

https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/7f8680784de6808fa60eb707e2c1385d5e18a22d/src/Skybrud.Umbraco.Redirects/Models/RedirectsService.cs

[2019-06-12 09:37] ronaldbarendse commented on #18
It looks like _some_ work is done in adding Regex support, but it's not yet completed::
- Commented out or partially working code in the add/edit redirect dialogs;
- Commented out code in the `RedirectsHttpModule`: https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/dev-v7/src/Skybrud.Umbraco.Redirects/Routing/RedirectsHttpModule.cs#L84-L92;
- Only `RedirectsRepository.GetRedirectsByUrl()` r

[2019-06-28 12:31] mastrup opened #51 "Not possible to add a redirect with a "manual" destination in Umbraco 8"
When typing in a destination URL, and not picking one from the tree, the adding of a new redirect fails: https://streamable.com/ops87

I have been trying to do the same in Umbraco 7, with no issues: https://streamable.com/zmj2b

[2019-07-01 13:14] abjerner commented on #51
Hi @mastrup and thanks for reporting 👍

I haven't come across this when testing, but I will investigate.

Anyways, since the notification means an error happened on the server, is there anything useful in the Umbraco log file?

[2019-07-01 14:04] mastrup commented on #51
Forgot to include the log! 🙄
Here you go: https://pastebin.com/XNdCLfhJ

[2019-07-02 13:20] AndersBrohus-MySupport commented on #51
I'm having the same issue :)

[2019-07-02 13:21] AndersBrohus-MySupport opened #52 "Can't create site specific redirects"
Hi Anders :)

In the alpha for V8 i can't create site specific redirects.. :)
It's simply not an option, like in the v7 package :)

[2019-07-04 20:31] abjerner commented on #52
Hi Anders,

This is of course something that will be back, but I haven't had the time to implement it yet. Hopefully this will be available soon 😉

[2019-07-04 21:17] #51 closed

[2019-07-04 21:23] abjerner commented on #51
This was a silly mistake that I should have caught while testing - but then again, there was a reason this was released as an alpha 😄

I pushed a new alpha release that fixes this: https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.0.0-alpha003

[2019-07-06 16:59] abjerner opened #53 "Unable to resolve type: Skybrud.Umbraco.Redirects.Routing.RedirectsInjectedModule"
This packages contains an HTTP module that uses dependency injection. The module is registered via the following composer in Umbraco:

[code]

When trying to upgrade Umbraco, the following exception is thown:

[code]

[2019-07-06 17:09] #53 closed

[2019-07-06 17:12] abjerner commented on #53
@runegronkjaer this should fix the issue that you reported. I'll plan on pushing a new release when Umbraco 8.1 is out next week 😉

[2019-07-25 21:26] abjerner commented on #49
@ronaldbarendse sorry for the waiting time. Vacation and generally being busy happened, so this took a bit longer than it should have.

New release with a fix is here: https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v0.3.5

The same issue exists in the releases for Umbraco 8, so I'll leave the issue open until I can push a new release for Umbraco 8 as well.

[2019-07-26 10:34] abjerner commented on #49
The bug is now fixed for Umbraco 8 as well (but not yet released).

[2019-07-26 10:34] #49 closed

[2019-09-05 15:32] amitch17 opened #54 "Javascript error when using inbound redirect property editor in back office"
Hi, this is using the alpha004 release, on Umbraco 8.1.4

Simple functionality from the dashboard seems to work fine.  Thank you for this project.

Bug:

- I added the Inbound redirect property editor to a composition I am using on all my pages and saved.
- Go into Content and open that page.
- The property editor does not appear, following javascript error in console:

![image](https://user-image

[2019-09-07 12:02] abjerner commented on #54
Hi @amitch17 and thanks for reporting,

The property editor has not been updated for V8 yet, so the error is because it's still relying on `dialogServiceProvider`from V7, which isn't available in V8.

It's already on my TODO list, but I haven't gotten around to updating it yet.

[2019-09-13 17:03] lcichanowicz opened #55 "How to create a redirect to an external page?"
Hi.  How do I create a redirect from a non-existent URL in my site to an external URL (on another site)?

[2019-09-13 19:08] abjerner commented on #55
Hi @lcichanowicz,

You haven't specified what version of Umbraco you're using, so here are some screenshots from the Umbraco 8 package (Umbraco 7 is roughly the same):

**Click on the *Add new redirect* button, and then on *Select destination* in the overlay:**

![image](https://user-images.githubusercontent.com/3634580/64888201-a1be6e00-d66a-11e9-8147-4533ef82063d.png)

**Instead of selecting a c

[2019-09-13 19:54] lcichanowicz commented on #55
@abjerner, I apologize for that.  I am using Umbraco 7.14.  Thanks for the swift reply.

Since I cannot add a redirect on the "global" tab in Content, I was doing so on the Home node.  I just did not realize I had to 'Remove' the default Destination to get the full URL options.  Thanks!

![image](https://user-images.githubusercontent.com/4871064/64890859-83db1400-d63e-11e9-93bc-504f6589ceba.png)

[2019-09-13 20:09] lcichanowicz commented on #55
@abjerner, I added my external redirect on my Home page, but where did it go?  It is not in the list; but, the redirect works.  It does not show on the "global" Content node either.

[2019-09-14 10:38] abjerner commented on #55
I'm not sure what you mean by the global content node. If you have installed the dashboard, all redirects should be shown there:

![image](https://user-images.githubusercontent.com/3634580/64906926-84ca7f00-d6ec-11e9-8fec-deca9b749b0e.png)

[2019-09-19 16:23] #55 closed

[2019-09-25 13:42] John-Blair opened #56 "Unable to add redirects to media types File and Image in umbraco 8.1.2"
When I add the property editor "Skybrud Redirect - Inbound redirects" to Media Type file and Image in Umbraco 8.1.2 - the property editor does not show up when items of these types are added.

The content dashboard "Redirects" does show up and I can manually enter media file redirects there. e.g. /catalog will redirect to /media/l2hpnd4k/catalog.pdf

[2019-09-25 13:59] abjerner commented on #56
Hi @John-Blair,

I haven't had the time to update the property editor yet. It's still based on the code for Umbraco 7, and therefore fails when you try to use it in Umbraco 8. Hopefully I'll be able to look at this soon ;)

[2019-09-26 16:09] lcichanowicz opened #57 "v2.0.0 is missing declared dependency on Umbraco 8 in NuGet package"
I just installed Skybrud.Umbraco.Redirects 2.0.0 via NuGet Package Manager (GUI) in Visual Studio 2019, on an Umbraco 7.15.3 project.  Now, I get a YSOD:

_Could not load file or assembly 'Umbraco.Web, Version=8.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified._

After simply uninstalling Skybrud.Umbraco.Redirects 2.0.0 via NuGet Pa

[2019-09-26 17:24] abjerner commented on #57
Hi @lcichanowicz,

Version 2 only works for Umbraco 8, which is why your solution fails when installing the package in Umbraco 7.

For Umbraco 7, you can install the older `v0.3.5`:

[code]

I've tried to document this in both the [release notes](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases) and on NuGet. If you have ideas to make this more clear, I'd be happy to have another look

[2019-09-26 17:24] #57 closed

[2019-09-26 18:26] lcichanowicz commented on #57
Hi, @abjerner.  You can inform the NuGet package of the dependency on Umbraco 8.  This will prevent it from installing on lower versions, with a friendly message.

https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#semantic-versioning-200

[2019-09-26 20:29] abjerner commented on #57
Thanks - I will look into that. But wouldn't Visual Studio do a force update the Umbraco dependency instead of asking what to do? That is at least my experience, and one of the reasons I'm only using Umbraco as a development dependency.

[2019-09-26 20:58] lcichanowicz commented on #57
Oh, yes, actually that is correct; however, it at least shows the dependency before installation, in the places where I am accustomed to looking for it: the package description's Dependencies section, and the modal showing what components are about to be installed.

To ensure I do not inadvertently take such a dependent update--again--I have leveraged this solution in my Umbraco projects.
https://

[2019-10-03 19:35] lcichanowicz commented on #55
@abjerner, I finally got around to adding the dashboard.  I was confused by the docs.  (I was inadvertently in the Umbraco 8 Skybrud.Umbraco.Redirects GitHub.)

They reference a non-existent image:

https://github.com/skybrud/Skybrud.Umbraco.Redirects#screenshots

That image exists in the Umbraco 7 Skybrud.Umbraco.Redirects GitHub.

https://cloud.githubusercontent.com/assets/3634580/22441437/ac65d

[2019-10-16 08:56] FransdeJong opened #58 "Installing nuget breaks the project"
When installing the nuget package I get the following error:
Umbraco version is 8.2.0
Redirect version is 2.0 (latest version on nuget)

[code]

If I refer to the RedirectsInjectedModule in code it is there. So something with the order of loading dependancies?

[2019-10-16 11:45] abjerner commented on #58
Hi @FransdeJong,

Is this an upgraded project or a fresh install? Does it work if you create a new project, install Umbraco 8.2.0 and then the stable release of the redirects package? I tried doing that yesterday, and everything was working fine.

It does however sound like much like the issue described here: https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/53

But that was fixed in one

[2019-10-16 12:12] FransdeJong commented on #58
Ok... I don't understand it anymore...

What I did:
Upgrade Umbraco from 8.1.5 to 8.2
Work on multiple things and everything was fine.
Installed the redirects package and project breaks
Uninstall the package again and work on some views
Install the package again to check the properties of the Dll and the package works...

So... issue fixed?

[2019-10-16 13:14] abjerner commented on #58
I'm still not entirely sure what could have caused this. I'll close for issue for now, but we can always come back to it later if you or other users report the same again.

[2019-10-16 13:14] #58 closed

[2019-10-29 14:54] lcichanowicz commented on #57
Greetings, @abjerner.  I just set up a new Umbraco 7.15.3 site and I see the dependency is still missing.  Based on the title of my issue, I'd say this should _not_ be closed.

[2019-11-12 13:27] ronaldbarendse opened #59 "Add database indexes"
The `SkybrudRedirects` table should get some database indexes, as retrieving rows currently scans the whole table and that can take quite some time, especially when a lot of redirects are added...

The built-in Umbraco `umbracoRedirectsUrl` table indexes a [hash of the URL](https://github.com/umbraco/Umbraco-CMS/blob/853087a75044b814df458457dc9a1f778cc89749/src/Umbraco.Core/Persistence/Dtos/Redire

[2019-11-18 08:40] Cjschmidt opened #60 "Is it possible to add subdomains to redirects?"
Example:

domain1.domain.com/subpage=> newdomain.com/subpage1
domain2.domain.com/subpage=> newdomain.com/subpage2

Currently I can't find this feature

[2019-11-27 10:17] abjerner opened #62 "Introduce cache layer"
The HTTP module will make a handful of SQL queries per request (think it's four at worst). With a site that receives many 404 request, this may affect performance of the database and site.

For a number of reasons, it may be ideal to have a cache layer in front of the database. A cache layer will reduce the amount of calls to the database considerably, and also allow us to do new things - eg. addi

[2019-11-28 22:31] abjerner commented on #60
Hi @Cjschmidt,

This feature didn't make it to the first release for Umbraco 8. I just pushed a new release, and if I understand your question correctly, it is now supported:

https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.0.1

[2019-11-28 22:31] #60 closed

[2019-11-28 22:33] abjerner commented on #52
Hi @AndersBrohus-MySupport,

This is now supported in the latest release: https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.0.1

[2019-11-28 22:33] #52 closed

[2019-11-28 22:35] abjerner commented on #59
@ronaldbarendse thanks for creating this issue. It may not make as much sense if a [cache layer is introduced](https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/62), but I'll keep it in mind 👍

[2019-11-29 07:55] AndersBrohus-MySupport commented on #52
Hi @abjerner

Thanks alot! :)

[2019-11-29 08:00] ronaldbarendse commented on #59
Caching won't make it faster, as it still needs to get the data from the database. Loading all redirects into the cache also isn't efficient (especially with large amounts of redirects) and an anti-pattern, as you should only cache frequently used objects.

[2020-02-11 15:30] filefontaine opened #63 "Multilingual site"
Hello,
I have a multilingual site (3 for the moment).

I can create redirection with my default / mandatory language but I didn't find a way to create a redirection for the 2 other.

Did I miss something?

_I try a lot of different way, say me if you want the list._

[2020-02-13 00:15] abjerner commented on #63
Hi @filefontaine,

The answer is most probably that this is currently not supported. But in order to be able to give an answer beyond that, can you help me with some more details?

Which versions of Umbraco are we talking about? And which version of this package? Does multilingual refer to using variants, or some other form of multilingual setup?

[2020-02-13 10:17] filefontaine commented on #63
Hello @abjerner ,

Yes sorry for not giving basic information.
Umbraco version is 8.5.3, I use the basic multilingual integration offered on Umbraco 8.

I have 3 languages, for each i have setup a hostname (like /en, /de).

[2020-02-17 15:11] abjerner commented on #63
Hi again @filefontaine,

Is *basic multilingual integration* the same as what Umbraco calls *variants*? Either way, multilingual sites are currently not supported.

If you can elaborate a bit more on what you're trying to do, I can try having a look at it 😉

[2020-02-19 22:30] abjerner commented on #30
Hi @bjarnef,

This took a bit longer than it should have, but the package is now also available as an Umbraco package:

https://our.umbraco.com/packages/website-utilities/skybrud-redirects/

[2020-02-19 22:30] #30 closed

[2020-02-21 14:06] ronaldbarendse opened #64 "Add automatic migration to v2"
I've just upgraded a site from Umbraco 7 to 8 and updated this package to v2. As the `SkybrudRedirects` table schema is alterned, none of the redirects worked and neither was adding new redirects from the backoffice (because of SQL errors).

It would be nice if this table was automatically migrated as part of the v1 to v2 update. I've now done this with the following SQL script, so it can at least

[2020-02-21 14:18] abjerner commented on #64
@ronaldbarendse thanks a lot posting this 👍

I think I started out on the V8 version of this package before Umbraco made it possible to upgrade from V7 to V8, so the redirects package wasn't intended to handle this. Which is kinda bad now that there is an upgrade path.

One of the things I'm probably going to look at next is import and export functionality, so I had thought about creating a migrat

[2020-02-25 15:23] madden-tom opened #65 "Querystring is not retained on a new redirect"
When I add a redirect (version 2.0.3, Umbraco 8.5.4, latest Chrome) the querystring value is lost as soon as I press Submit.

Forward query string is enabled.

Adding a link with a querystring in the multi url picker in the same version of Umbraco does work.

![image](https://user-images.githubusercontent.com/1767232/75261307-b8a0e900-57e2-11ea-9547-0a41bacc6c00.png)

![image](https://user-images.

[2020-02-25 15:28] madden-tom commented on #65
Just to add, this happens when I enter the querystring directly into the querystring field, but it also happens if you have pasted the whole link into the link field, submit this (and it is retained up to this point), but if you click Edit, then Submit (without changing anything), then the Querystring is lost (when you click submit).

[2020-02-26 17:56] AnatoliyZingerov commented on #53
i have same problem (Umbraco version 8.4.0)

[2020-02-26 19:22] abjerner commented on #53
@AnatoliyZingerov do you have some more details about your issue? What version of the package are you using? What's the state of your Umbraco installation when you see the issue? Is it during an upgrade of Umbraco?

[2020-02-26 19:30] AnatoliyZingerov commented on #53
i solve my problem
i have added one line  `composition.Register<MyController>(Lifetime.Request);`.

Thanks.

[2020-02-26 19:34] abjerner commented on #1
Closing this for now as it should ideally be a separate package on top of this package.

@rpjengaard if we have clients that are actually requesting this, please help prioritizing this internally, so we have have a look at it 😉

[2020-02-26 19:34] #1 closed

[2020-02-26 19:35] abjerner commented on #3
Åbenbart ikke 😒

[2020-02-26 19:35] #3 closed

[2020-02-27 22:20] abjerner commented on #65
Hi @madden-tom and thanks for reporting 👍

The overlay used for picking the destination of the redirect comes from Umbraco. The **Anchor / querystring** field was added through a PR at some point in Umbraco 7, so it has never really worked in the redirects package. I guess I also overlooked this part when upgrading the package to Umbraco 8.

As the query string or anchor/fragment may be specified

[2020-03-02 15:58] ronaldbarendse commented on #64
I've successfully migrated more than 100 redirects using this script and this seems to be the easiest/fastest way.

I'm not sure if you can explicitly target v7 to v8 migrations, but the existing `CreateTable` migration could be updated to run this script when the table already exists (and if it's the v7 schema):

https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/f8470d83a92da666936293e00c

[2020-03-03 15:09] #31 closed

[2020-03-05 10:50] rpjengaard opened #66 "GetOutboundRedirect extension not working in v8?"
Hi Bjerner,

if i use the extensionmethod GetOutboundRedirect on my content it just returns null. I tried this

`var test = request.Content.Value("skyRedirect");` and this returns

`{
  "permanent": true,
  "destination": {
    "id": 0,
    "key": "00000000-0000-0000-0000-000000000000",
    "url": "https://www.limbo.works/",
    "type": "url"
  }
}`

If i try to mimic the [code](https://github.com

[2020-03-17 09:48] TimGeyssens opened #67 "Migrate from prop editor to content app"
Think it might make sense to move the prop editor to a content app in v8... since you aren't actually storing data against the node right?

[2020-03-17 10:16] rpjengaard commented on #67
I think @TimGeyssens could be right @abjerner . Thought about this as well.

[2020-03-17 10:27] abjerner commented on #67
Yes. There probably should be a content app 👍

My reason for not doing it so far is because we usually also use the property editor for an outbound redirect, which does save data on the property. So when having both inbound and outbound redirects, it makes sense to have them together.

![image](https://user-images.githubusercontent.com/3634580/76847307-266c8d80-6842-11ea-8014-4bcc35685fc4.png)

[2020-03-17 10:30] TimGeyssens commented on #67
@abjerner ah ok makes sense then, though it was only a list of items... with no data stored in the umbraco db

[2020-03-17 10:33] abjerner commented on #67
@TimGeyssens that is correct for the inbound redirects. They are stored in it's own database table. So it should be a content app ;)

Ideally the content app would be added by default, and then we can remove the content app and use the property editor instead in our case.

[2020-03-17 11:15] TimGeyssens commented on #67
there is also a good idea from @skttl about making the info app extendable (and inbound redirs could make perfect sense as part of that app), since we don't want a wildgrow of content apps.... but that's something for Umbraco core to implement first

[2020-05-12 13:58] ronaldbarendse commented on #63
Culture variants aren't correctly supported indeed, as it would require selecting content in a specific culture (there's an open Umbraco issue about this: https://github.com/umbraco/Umbraco-CMS/issues/7546).

Because this package always redirects to the URL stored in the database (still an open issue I commented about earlier https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/36), it's po

[2020-05-12 15:14] ronaldbarendse commented on #63
@abjerner This line is responsible for always using the saved URL:

https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/12cffb0d8a1673c32670bb277f61cf27694f72b1/src/Skybrud.Umbraco.Redirects/Routing/RedirectsInjectedModule.cs#L73

This should be updated to get the current URL for content and media (as it could be updated in the meantime). As the domain is also available, that could be used t

[2020-05-12 15:23] ronaldbarendse commented on #62
As commented in https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/59#issuecomment-559696622, caching won't make it faster, especially if you have a lot of redirects (as all redirects must be retrieved from the database first).

If Regex redirects get supported, those might indeed need to be cached, as you can't query them directly in the database (based on the current URL) 😉

[2020-05-12 15:29] ronaldbarendse commented on #36
Let's track my previous comment about using the outdated, saved URL instead of the current content/media URL in https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/63#issuecomment-627409023, as it also needs a rewrite to support culture variant content URLs.

[2020-05-12 15:29] #36 closed

[2020-05-12 15:34] ronaldbarendse commented on #38
Do you have concrete examples when you'd want to force a redirect for existing content?

I would argue unpublishing the content would be a lot easier (and way more performant), especially if this package would detect adding a redirect for existing content and allow unpublishing that item (for that specific culture) when saving the redirect.

Otherwise, it should definitely live behind a setting, s

[2020-05-12 15:37] ronaldbarendse commented on #27
Any progress on this? I've created a script to generate SQL inserts from a list of URLs in the meantime, but having to change all destinations (as they default to `/`) still requires a lot of editing afterwards...

[2020-05-14 20:29] abjerner commented on #62
@ronaldbarendse thanks for the feedback. I can't remember my exact thoughts when I created this issue, so maybe the priority label can be discussed. But I think it's still something that at least is worth investigating.

However as things are now, it's not something I currently have the time to look into 😮

[2020-05-14 20:32] abjerner commented on #63
@ronaldbarendse while this package _should_ support multilingual sites, my time is a bit parse a the moment. So this comment is mostly just to acknowledge that I've seen your comments 👍

[2020-05-14 20:43] abjerner commented on #38
@ronaldbarendse yes, if this is added to the package, it definitely needs to be opt-in, and not something for all redirects.

I sometimes create these "idea" issues from talks I either had with my colleagues or with people from the Umbraco community. Mostly so I don't forget about it, but also so people can chip in, and I can see if it's something that needs to be prioritized.

I think we have had

[2020-05-14 20:46] abjerner commented on #27
@ronaldbarendse I've worked a bit on it recently, but nothing finished yet. It also seems that I forgot to push my progress 😱

When I have some more time again, this is definitely something I'd like to prioritize.

[2020-05-18 08:00] ronaldbarendse commented on #63
@filefontaine I've just noticed the link picker uses the content tree language, so if you're adding/editing the redirect, you must make sure this is set to the correct language.

As the culture isn't stored (only the resulting redirect URL), editing the redirect destination will use the current content tree language again, so make sure to change this to the correct language before editing!

@abjer

[2020-06-17 21:37] abjerner commented on #66
Should be fixed in [**v2.0.4**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.0.4) :tada:

[2020-06-17 21:37] #66 closed, assigned to abjerner

[2020-07-01 08:46] SvenGoormans opened #68 "Redirects with domain always to 'page not found'"
I'm having issues with redirects that make use of a domain.
For example: I have 3 websites running with each a single domain. ('/de', '/en', '/nl')

After setting each domain on my homepages, I want to create a redirect to a node in a certain domain.

(Tested on a clean new V8 environment)
Domain: DE
Original Url: '/testurl'
Destination: Any node under domain DE
Redirect type : Permanent
Forward q

[2020-07-28 11:10] #68 closed, assigned to nobody

[2020-08-12 08:59] anh-duc-le opened #69 "Incomplete deployment of changes between Umbraco Cloud environments when using the Umbraco Package"
I have successfully installed the Umbraco Package v2.0.4 on my Umbraco Cloud Development environment, but I am seeing quite a few problems appear when I try to deploy these changes to my Staging environment.

## Failure to load redirects in Staging environment
In the redirect overview panel I am met with the following errors
- `Request error: The URL returned a 404 (not found): /umbraco/backoffice

[2020-08-30 20:07] abjerner commented on #69
Hi @anh-duc-le and sorry for the lack of reply,

You write that the DLLs are not missing. Is this in the stage environment or the local environment?

I'm not really familiar with Umbraco Cloud, but I'd say that the missing table and the 404 API calls are both indicators that `Skybrud.Umbraco.Redirects.dll` is missing in the stage environment. Could you re-check and confirm just to be sure?

[2020-09-02 09:34] webtimisten opened #70 "Umbraco installation with multiple sites and user access"
I have a site containing multiple sites (8 as of now) where users only have access to one or more.

Is it possible to only view the sites the user has access to? For now it look like it's only supported when picking the destination.

And is is possible to add the domain before or after the node name, to be able to differentiate the sites from each other?

![Skærmbillede 2020-09-02 kl  11 15 14](ht

[2020-09-06 10:45] abjerner commented on #70
Hi @webtimisten,

As we talked about on Slack the other day, adding user permissions to the package is not an easy task. Besides the development to enable this, it will also require a bit of consideration how to best implement this, as different solutions have different requirements. At this time, it's not a feature I or @skybrud currently can set time aside to work on.

Similar to how you can add

[2020-09-07 23:03] pi-kalinowski commented on #18
Are there still plans to integrate this over the next few releases?

[2020-09-08 10:51] jonroberts24 opened #71 "Redirects not working 100%"
When I create a "vanity" redirect, for example /mypage - and redirect it somewhere on the site it works perfectly well.
If I create a redirect from an existing page on the site to redirect somewhere else on the site it doesn't work.

We are using Umbraco 8.6.4 with the latest version of the Skybrud Redirects.

Any ideas?

Thanks Jon

[2020-09-08 11:39] abjerner commented on #71
Hi @jonroberts24,

If I understand you correctly, the vanity page still exists? The basis of the redirects module is that it only kicks in if nothing at the requested URL exists in Umbraco. So if a page in Umbraco already exists, the redirect will not work.

I hope that answers your question ;)

[2020-09-08 12:17] jonroberts24 commented on #71
Hi
The Vanity page "mypage" - doesn't exist in the site - its a made up "Short URL".
So, are you saying that the Redirects only works for "Short URLs" or from an old URL that no longer exists to a new url? - not a redirect from one page to another?

[2020-09-08 12:36] abjerner commented on #71
@jonroberts24 yes, something like that. But the redirects are not limited to "short URLs" - you can make long URLs like `/some/url/you/wish/to/point/to/something/else`.

To explain things a bit further, the redirects package works with inbound redirects and outbound redirects.

**Inbound redirects** are the ones listed in the global dashboard, and you can also add a property editor at the page lev

[2020-09-08 13:36] jonroberts24 commented on #71
Thank you so much for all your help.
Regarding the Outbound redirects - where, typically, would I put the request pipeline code? In the Global?

[2020-09-08 14:08] abjerner commented on #71
When we did Umbraco MVC sites, we'd handle it in the MVC controller (this was in Umbraco 7 though, so the classes are named a bit differently):

[code]

The controllers for each content type would then inherit from this controller, and they would thereby inherit the redirect check. With ModelsBuilder these controllers doesn't make that much sense anymore, so I'm not sure what will be the best loca

[2020-09-18 06:37] pankajinfo3 opened #72 "umbraco cloud when Push changes development to live it's not working"
umbraco cloud when Push changes development to live it's not working

[2020-09-20 18:53] abjerner commented on #72
Hi @pankajinfo3,

Transferring redirects between Cloud environments is not something that is currently supported.

[2020-09-20 18:53] #72 closed, assigned to nobody

[2020-09-22 07:31] robertemmerson commented on #72
Hi @abjerner .  I don't think the issue is with cloud redirects.
In Dev, the package allows me to configure redirects that have page section references (eg. .../pegasus?section=tutorials) without issue.
When I push the package to Live, any redirect entries with section references are dropped.  If I try to create one in Live, the entry returns an error that the redirect already exisits (referring t

[2020-09-22 11:54] anh-duc-le commented on #69
Hi @abjerner  sorry for the late response. The DLLs in the screenshot are from the staging environment. So it seems that the files are properly pushed through the environments.

[2020-09-23 07:47] abjerner commented on #69
I'm not really sure why it doesn't work then. The DLL *should* trigger a migration to run, which should then take of creating the table in the database.

Does the `umbracoKeyValue` table contain anything about the redirects package? If the migration has run, there should be an entry with `Umbraco.Core.Upgrader.State+Skybrud.Umbraco.Redirects` as the key. If it is there, you could try to delete tha

[2020-10-07 13:13] anh-duc-le commented on #69
I checked the `umbracoKeyValue` table and saw the following entry

![image](https://user-images.githubusercontent.com/37115195/95334490-7aa69000-08ae-11eb-91b0-e5b5b7f2d2d0.png)

I then looked for `dbo.SkybrudRedirects` and found it too!
![image](https://user-images.githubusercontent.com/37115195/95334484-77ab9f80-08ae-11eb-9d06-9fa619825615.png)

I went to install the package again on the Develop

[2020-10-07 13:13] #69 closed, assigned to nobody

[2020-10-09 10:11] ronaldbarendse commented on #65
I've just encountered the same, both with external/manual links and when selecting content. Manually changing the destination URL within the database to include the query string works though (and when query string forwarding is enabled, these are even merged).

While a fix is implemented, the query string/anchor field can be easily hidden by adding `hideAnchor: true` to:
https://github.com/skybrud

[2020-10-09 10:18] ronaldbarendse commented on #65
Just like the Multi URL Picker, the query string/anchor should be stored seperately (e.g. `DestinationQueryString` column), so it can be merged with the current content/media URL in the right culture: https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/63#issuecomment-627409023.

[2020-10-16 19:43] hfloyd commented on #27
@abjerner - Where are you with this? Did you get your code pushed? Did you decide a separate package would be best? I was thinking about helping out with this, but wouldn't want to step on any toes or waste time re-inventing the wheel...

[2020-10-17 14:43] #71 closed, assigned to nobody

[2020-10-17 19:39] abjerner commented on #27
Hi @hfloyd. Unfortunately my past year has been very busy, which both means that I haven't really been able to work much on this feature, and I haven't been as a good at responding to issues and PRs as I feel I should be.

I'm not entirely sure where I've put the work I've done so far, so I need to have another look for that. I did find the code for some other issues I've been trying to fix, so I'

[2020-10-19 21:27] hfloyd commented on #27
@abjerner , Thanks for your response. I think there is some useful use-case description in the previous comments here, but if I were to just consider my own experience and how I would approach it...

There are two times an import would be useful.
1. In a new website build, as part of the last development steps, old URLs should have redirects set up, and I think doing it in this editable way is bet

[2020-10-19 21:59] abjerner commented on #27
Great @hfloyd. I'll try to reply back tomorrow 😉

[2020-10-20 08:23] ronaldbarendse commented on #27
Maybe a simpler bulk import would be the possibility to paste multiple URLs and have it open the redirect/destination picker for each one? This is probably far easier for editors then having to craft a very specific CSV-file, especially when dealing with links to content/media (having to lookup IDs/UDIs).

Besides the manual SQL script (see https://github.com/skybrud/Skybrud.Umbraco.Redirects/issu

[2020-10-20 14:59] hfloyd commented on #27
That's a really interesting idea, @ronaldbarendse ! I think having both available would be cool.

In my experience, someone has already done the work of looking at the new (front) of the website and selected the new page for the redirects - so I'd like to utilize that effort via the 2-column import. I don't think think the CSV would be too difficult for most editors to handle - I have received man

[2020-10-20 15:40] hfloyd commented on #27
@abjerner - Regarding my previous suggestion about creating a ".Core" package which could be used for any external "add-on packages"...

I was able to break it out easily. (see the [branch here](https://github.com/hfloyd/Skybrud.Umbraco.Redirects/tree/feature/Core-Reorg)) You'd just need to set up a second NuGet package which only includes the dll from that second Project. Let me know what you thi

[2020-10-20 21:52] abjerner commented on #27
Thanks for feedback @hfloyd and @ronaldbarendse 👍

I like having both a way to import redirects from a CSV file (and possibly other formats in the future) as well as a way to bulk add redirects via the UI.

Based on the feedback I've received so far for an import feature, I think most users would benefit from import of CSV files, so I think that should be the first goal.

In my head, I had it that

[2020-10-20 22:59] hfloyd commented on #27
Thanks, @abjerner ! (I'm glad you liked the little mockup ;-) )

RE:

Perhaps we could just utilize the current "add redirects" options - Site, Type, Query string, and have those apply to all the imported urls.

![image](https://user-images.githubusercontent.com/1252593/96653050-341d5080-1306-11eb-8d7c-2b27a5b58924.png)

[2020-10-23 23:10] abjerner commented on #27
@hfloyd yes, something along those lines 👍

Although there might be situations where redirects would have different options (but support for that could wait to a future iteration).

In case you want to work on this, I've set up a new repo for an import package here: https://github.com/skybrud/Skybrud.Umbraco.Redirects.Import

The solution doesn't really contain much code yet, but I added a JavaScr

[2020-10-24 23:19] abjerner commented on #27
I tried dusting off Total Commander (it's really amazing for searching through file contents), and found a ZIP I had taken as a backup of my work.

I can now choose to import a CSV file from my disk, and the importer tries to analyze the CSV file, so it will detect a number of column aliases - eg. as:

[code]

It still isn't a finished import, so for now, it can do the following:

![redirects_impo

[2020-10-26 20:53] hfloyd commented on #27
Hi @abjerner

I had some time last week, so I figured I'd take a crack at the Import code, as an unaffiliated package. My current iteration allows you to select a file already in a specified folder, set options, and do the import successfully.  I used the "LinqToCsv" NuGet package to handle the CSV conversion - I've used it in other projects before and it is very simple to set up using a Model wit

[2020-10-26 22:30] abjerner commented on #27
Hi @hfloyd,

I wasn't sure whether you had started working on this, so I also did some work over the weekend.

So for the [Skybrud.Umbraco.Redirects.Import](https://github.com/skybrud/Skybrud.Umbraco.Redirects.Import), I used my own [Skybrud.Csv](https://www.nuget.org/packages/Skybrud.Csv/). I didn't know about *LinqToCsv* - it only has a few more downloads than mine 🙄

I wrote most of the C# logi

[2020-10-27 10:03] bjarnef opened #73 "Prefer explicit DB schema definitions over automatic DTOs"
At the moment to migration use a DTO class to create the table:
https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/latest/src/Skybrud.Umbraco.Redirects/Migrations/CreateTable.cs

However it would be preferable to explicit DB schema definitions if the table change later, e.g. a column is removed.

See some relevant isssues from Vendr wishlists:
https://github.com/vendrcontrib/vendr-wishli

[2020-10-27 10:16] abjerner commented on #73
Hi @bjarnef,

The migration for creating the database table use [RedirectItemSchema](https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/latest/src/Skybrud.Umbraco.Redirects/Models/Database/RedirectItemSchema.cs), and not [RedirectItemDto](https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/latest/src/Skybrud.Umbraco.Redirects/Models/Database/RedirectItemDto.cs). While a bit diff

[2020-10-27 10:48] bjarnef commented on #73
@abjerner yeah, but [RedirectItemSchema](https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/latest/src/Skybrud.Umbraco.Redirects/Models/Database/RedirectItemSchema.cs) is basically a DTO class as well although the name doesn't identicate that.

It might work when RedirectItemSchema is not changing, but it a column later is removed and the column type is changed, it guess it would create

[2020-10-27 11:20] abjerner commented on #73
I think either approach is correct. Using a schema class may require less code, whereas Matt's approach of specifying the columns individually may give some more flexibility and control. The Umbraco documentation describes the use of schema classes here: https://our.umbraco.com/Documentation/Extending/Database/#schema-class-and-migrations

The general idea is that if you make changes to the databa

[2020-10-27 17:48] hfloyd commented on #27
@abjerner - You have a lot more csv-specific import options in your version - very nice work.

In general (based on the excel lists of Redirects I have gotten from clients), the people compiling the redirects list often don't have access to, or know anything about the CMS, so they would never be providing any Umbraco Node IDs or GUIDs. It's possible that they could perhaps provide a "destination d

[2020-10-28 15:26] hfloyd commented on #27
@abjerner Would you have any objection to setting this up with a Service architecture? I think that might make it easier for us to both share code in a way which can evolve over time.

[2020-10-28 16:19] abjerner commented on #27
Thanks for the feedback @hfloyd 👍

My idea was that the importer would be able to handle both scenarios - that is, both the simple CSV file with columns for the old and new URLs, but also the more advanced CSV files with more information about how to add the redirects. And then also the scenarios in between. Everything doesn't have to work from the beginning - we can improve the importer over more

[2020-10-28 19:43] hfloyd commented on #27
@abjerner - RE:

Sure, that makes the most sense. My own project UI is totally outside of the back-office, and anything related to the UI (other than perhaps general "wireframe" sort of ideas) wouldn't really be directly usable in this more integrated setup.

RE:

I just meant that we could consider the bulk of the processing code being set up in a "Service" to keep it all together, regardless of

[2020-10-28 20:33] abjerner commented on #27
Yes, as much logic as possible should be located in the service (or the individual provider/import implementations if more specific).

I already tried to minimize the logic in the controller (or am I missing something?):

https://github.com/skybrud/Skybrud.Umbraco.Redirects.Import/blob/v1/latest/src/Skybrud.Umbraco.Redirects.Import/Controllers/RedirectsImportController.cs

The service however ough

[2020-10-28 20:55] hfloyd commented on #27
Let me pull everything down and take a closer look.

RE:

That's fine with me. I'm a bit new to DI, so feel free to change things or advise on better handling...

[2020-10-28 21:32] abjerner commented on #27
Don't worry about the DI part. My comment regarding DI was about my own code 😉 (it could also be addressed in a later iteration)

[2020-10-28 21:41] hfloyd commented on #27
Well, in any case, I think we can try our best to make it as version-eight-like as possible :-)

[2020-10-28 22:04] hfloyd commented on #27
Okay, now that I've actually forked and pulled your new repo, I can see why you were confused about my comment about a Service - since I see you have a Services folder 🤣

So, my follow-up question: I noticed that the return types for the Service are all "object" - is that just because it is getting used directly via the JS Controllers? Is there a way the Service can use other sorts of Models? Perh

[2020-10-28 22:13] abjerner commented on #27
@hfloyd yes, your right - the service should have a return type for the various methods. And exactly for the reasons you're describing.

Again, the code is a little messy. For the code I did a while ago, I hadn't really decided what the methods should return. I played around with that over the weekend, but haven't set a proper return type yet.

For now, I think it should be `List<RedirectImportIte

[2020-10-28 22:34] #73 closed, assigned to nobody

[2020-10-29 02:38] hfloyd commented on #27
Actually, i was just working on that! - It's not committed yet, because I swiped some stuff from my other project and I'm getting it integrated first... but here's a preview:

[code]

Also, I think the specific implementations of IRedirectsImportExportProvider should be responsible for just converting the import format (whatever that may be - CSV, Excel, XML, JSON...) into a standardized model tha

[2020-10-29 04:37] hfloyd commented on #27
@abjerner :
Okay, I've pushed up my current code for you here: https://github.com/skybrud/Skybrud.Umbraco.Redirects.Import/pull/2

Do you think we should move this conversation over to the new Repo?

[2020-10-29 08:00] bjarnef opened #75 "Adjust padding in table header"
Using latest v2.0.5 on Umbraco v8.8.1 it looks the table header is a bit off compared to core redirects dashboard.

![image](https://user-images.githubusercontent.com/2919859/97541072-d4d5d500-19c4-11eb-94dc-93b280efc1da.png)

![image](https://user-images.githubusercontent.com/2919859/97541119-e919d200-19c4-11eb-8963-93ff9725e4b7.png)

When disabling the css overwritting to padding from `umb-table

[2020-10-29 08:02] bjarnef commented on #75
It looks like the cells in first column in Umbraco redirects table has the class `not-fixed`.

[2020-10-29 08:09] bjarnef opened #76 "Add shortcut to close button"
The close button in the redirects overlay here, seems to be missing `shortcut="esc"`.
https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/latest/src/Skybrud.Umbraco.Redirects/App_Plugins/Skybrud.Umbraco.Redirects/Views/Dialogs/Redirect.html#L32

With this added the overlay can be closed using `esc` key 👍

[2020-10-29 08:13] bjarnef opened #77 "Accessibility enhancements for buttons"
A few places a noticed `<a>` elements for buttons are used instead of actually `<button>` element which are preferred unless it is an actual link.
https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2.0.5/src/Skybrud.Umbraco.Redirects/App_Plugins/Skybrud.Umbraco.Redirects/Views/Editors/Inbound.html#L10-L15

So we can for example use something like the following instead. Some places it might

[2020-11-23 15:09] andreasengstr opened #78 "Where is RedirectsRepository?"
According to this: https://packages.skybrud.dk/skybrud.umbraco.redirects/docs/#installation
the Skybrud redirect package "Includes a RedirectsRepository for managing the redirects from your own code".

However, I cannot not see any information in the documentation on how to manage redirectes from my own code?

We are using Umbraco 8.9 as a head-less CMS and would like to read/fetch redirect inform

[2020-11-23 15:24] abjerner commented on #78
@andreasengstr Sorry - this is a leftover from the Umbraco 7 version. It's called `RedirectsService` in Umbraco 8 (but you may wish to refer to `IRedirectsService` if you're using dependency injection).

Here's an example of how we're using it in our own SPA setup:

https://github.com/skybrud/Skybrud.Umbraco.Spa/blob/master/src/Skybrud.Umbraco.Spa/SpaRequestHelper.Flow.cs#L230

[2020-11-23 17:09] andreasengstr commented on #78
OK, thanks!
Btw, will Skybrud Redirects be available for the coming .NET Core version of Umbraco?

[2020-11-24 14:06] abjerner commented on #78
@abjerner most likely yes, but I don't know for sure yet. I haven't seen any dates for when the .NET Core version will be out, so it might still be a bit out in the future.

[2020-11-24 16:10] #78 closed, assigned to nobody

[2020-11-26 11:30] andreasengstr opened #79 "Cannot see redirect items on content item"
When adding a redirect property editor on a content item it is possible to add redirect items (and they show up in the redirects dashboard) but they are not visible on the content item itself, all that I can see is the "Add new redirect" and "Reload" buttons but not any redirects, pressing Reload does not change anything.

Umbraco version is 8.9.0

[2020-12-02 13:51] mzajkowski commented on #27
Just remembered myself about this feature and thread while I deleted a custom build from a fork for one of the clients. Any plans / actions around this? Still something what I think we all need at least for any new builds/migrations.

[2020-12-02 15:42] abjerner commented on #27
An import feature is the most requested feature for this package, and it's also something that I believe this package should have. But to be honest, I've been overworked for a while now, and haven't really had the energy to work on this for some time.

I did make some progress back in October, and Heather also made a PR with her work so far, but I haven't had the energy to look at this yet (sorry

[2020-12-10 09:24] CasperTDK commented on #79
Same here after updating to 8.7.0. I can not see any obvious errors in the console. However, Umbraco did bump angular in this version:
_"Bump angular from 1.7.9 to 1.8.0 in /src/Umbraco.Web.UI.Client"_

https://our.umbraco.com/download/releases/870

[2020-12-10 22:56] abjerner commented on #79
Thanks for the feedback 👍

Yes, the Angular version bump broke the view of the property editor as it was still using an Angular directive through an auto-closing element. I've pushed a new release that fixes this: https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.0.6

[2020-12-10 22:56] #79 closed, assigned to nobody

[2020-12-10 23:04] abjerner commented on #75
Thanks for the input @bjarnef - and sorry for the lack of reply 👍

I think Umbraco's styling may have changed a bit over time, which may be why the first column looks a bit off.

The list is currently using `<div>`'s along with the `umb-table` classes, which also causes some issues with columns being cropped at weird places. The inbound redirects property editor is using a regular table instead, w

[2020-12-11 15:08] bjarnef commented on #75
Actually it seems this part just overwrite the default padding on first table column. https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/latest/src/Skybrud.Umbraco.Redirects/App_Plugins/Skybrud.Umbraco.Redirects/Styles/Styles.less#L36

Not sure if it need this. I would probably keep the `<div>` to keep it consistent with Umbraco UI and optimize it for the most recent supported Umbraco ve

[2021-01-25 16:30] rly-nozebra commented on #63
Hi @abjerner
Any plans on implementing support for multilingual sites (variants)? Or is it waiting for any core functionality?

[2021-02-11 06:52] helenahedstrom opened #80 "Redirects not working on prod enviroment"
Redirects work perfectly when using it locally, but not in prod. One of the things that differs on local and prod enviroment is domains.

We host on Azure and use custom domains there as well as in Umbraco. However the redirect doesn't seem to trigger no matter which domain I try.

This issue might have to do with our configurations but if you could help me I would appreciate it. Do I need any spe

[2021-03-04 20:51] abjerner commented on #80
Hi @helenahedstrom,

Sorry I missed your question.

When installing the package locally, it adds a HTTP module to your Web.config file. In our own hosting setup, we typically deploy changes to the Web.config file manually, so if you're doing the same, you may have missed adding the HTTP module in the Web.config file on Azure.

In the `<system.webServer>` element, look for the `<modules>` element.

[2021-03-04 20:54] abjerner commented on #40
Time flies. While I should have look at this at the time, I'm closing this issue as it relates to the Umbraco 7 version of this package.

[2021-03-04 20:54] #40 closed

[2021-03-04 22:32] abjerner commented on #77
Thanks 👍

This and other uses of `<a>` have now been replaced with `<button>` in the latest release: https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.0.7

[2021-03-04 22:32] #77 closed, assigned to abjerner

[2021-03-04 22:33] abjerner commented on #75
Thanks again @bjarnef 👍

I may still switch to using `<table>` at a later point, as I feel that gives me more control (as I'm not a frontender). But at least for now, I've added a bit of padding to the first column as suggested 😉

[2021-03-04 22:34] abjerner commented on #76
Thanks. This is now part of the latest release: https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.0.7

[2021-03-04 22:34] #76 closed, assigned to abjerner

[2021-03-04 22:34] #75 closed, assigned to abjerner

[2021-03-05 06:45] helenahedstrom commented on #80
Yes, that solved it!

Thank you so much and have a great weekend!

Regards,
Helena

[2021-03-05 06:45] #80 closed, assigned to nobody

[2021-03-19 10:06] timeverts opened #83 "Can't add redirect in Umbraco 7.15.6"
Hi,

I have installed version 1.0 of the package in an Umbraco 7.15.6. The package seems to have installed okay, but when I attempt to add a redirect by entering the details and then clicking the green 'Add Redirect', it responds with a 404.

Details of the exception are:
[code]

[2021-03-19 10:24] abjerner commented on #83
Hi @timeverts,

I can see that the `linkUrl` parameter is missing in the URL.

The package is using Umbraco's link picker for selecting the redirect destination. If you're picking a node in the content tree, Umbraco will make a request to it's own API to determine the URL of the selected node. Depending on the page and your setup, this request may not have finished when you click the Submit button

[2021-03-22 01:11] timeverts commented on #83
Hi @abjerner.
I'm sorry. Turns out you were correct!
I waited a bit longer for the URL to properly populate and the the redirect could be added.
Thanks for taking the time to respond though.

[2021-03-22 01:11] #83 closed, assigned to nobody

[2021-03-30 07:45] jesperweber opened #84 "Skybrud.Umbraco.Redirects.Core package without App_Plugins folder"
Hi,

We are using the Skybrud.Umbraco.Redirects package on multiple projects and like the package.

However we we would also like to use the package in class library projects. To avoid the App_Plugins folder in the class library projects, it would be cool with a Skybrud.Umbraco.Redirects.Core package that only holds the dll's without any frontend and view files.

[2021-04-19 09:29] khraibani opened #85 "Redirect not working locally or on azure"
Redirects not working locally, or in prod. I have checked the web.config it has 'RedirectsModule' on both environments
[code]

- The weird thing is some of the URL that I have added previously are redirecting fine. Just when I add a new one.
- I have tried clearing my browser cache, used a separate browser that I haven't visited the page from with no luck.
- I have checked if there already a redir

[2021-04-19 09:47] abjerner commented on #85
Hi @khraibani,

Is this perhaps the original URL? https://quolux.com/blog/posts/10-steps-for-giving-effective-constructive-feedback

The redirects module will only kick in if the server responds with a 404 error code. For instance, if the server responds with a 200 status code (eg. if a page exists at that URL), the redirects module will not do anything, and Umbraco will instead show that page.

I

[2021-04-19 11:40] khraibani commented on #85
@abjerner I fell for this one! Guess its a Monday 🤐

[2021-04-19 11:40] #85 closed, assigned to nobody

[2021-05-20 09:42] wvduffelen commented on #65
Is there any update on this issue? When picking a node and adding the query string the query string is being removed. When you don't pick a page and only fill the 'Link' field it works. For now it's a workaround but not the best option. A client of ours have multiple filtered views and cannot pick the page and add the query string!

Just tested some more. When the full URL (with query) is pasted i

[2021-06-14 09:54] tnielsenskybruddk opened #86 "Mark unpublished or deleted destination pages in the dashboard"
A customer has suggested that redirects that link internally is marked as inactive in the dashboard if the destination page is either unpublished or deleted.

[2021-06-21 12:25] andersburla opened #87 "Umbraco 9"
So Umbraco 9 is moving forward. Is there plans/time to make a version of this package for Umbraco 9? Also with multi language/variants support 😊

Kind regards
Anders

[2021-06-22 13:41] ja0b opened #88 "/media redirects throw 500's on non local environments"
Hi 👋,

I'm using Umbraco 8.13.0 and on my local all works as expected but on the dev environment (web app) I have some odd behaviour:

/trololo.pdf = works ✅
/fake/trololo.pdf => works ✅
/media/trololo => works ✅
/media/trololo.pdf => doesn't work ❌

Anything with an extension inside the /media path throws a 500 but if you disable custom errors ( ⚠️ <customErrors mode="Off"...) then the redirects

[2021-07-06 13:18] conjurer-rich opened #90 "Does not work when the backoffice url is renamed"
If the back office URL is renamed to anything other than ~/umbraco all of the post methods will fail.

At present the URLs for the API calls are hardcoded, as an example taken from https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/latest/src/Skybrud.Umbraco.Redirects/App_Plugins/Skybrud.Umbraco.Redirects/Scripts/Controllers/Dialogs/Redirect.js:

`if (redirect.key) {
            $http({

[2021-07-09 12:42] bjarnef commented on #63
Hi @abjerner
I am currently working on a multi-site solution where each site has a single root node (Home Page), but these vary by culture. Some of the site only use English, while others use both English and French.

I tried installing latest v2.0.7, but it seem only do show English version in redirects dashboard and content tree for English version in tree picker in redirect dialog.

[2021-07-10 12:49] #90 closed, assigned to nobody

[2021-07-10 13:36] abjerner commented on #88
Hi @ja0b

I've tried to do a few tests for this, but it's not something I can reproduce the error.

If you're unable to see the exception in the YSOD, you may still be able to find something in the Umbraco log, which could be useful for finding the cause of the issue.

[2021-07-10 13:42] abjerner commented on #63
@bjarnef As far as I can tell, Umbraco's link picker editor/overlay, which this package is using, still doesn't support variants. Ideally once you have selected a node, there should be an option to select a variant.

I thought about creating my own overlay instead - both to address variants as well as other issues. But this adds more complexity, and also requires more time, which I haven't had.

[2021-07-10 13:56] abjerner opened #92 "Cleanup backoffice dashboard"
Seems like Umbraco' changed some of the styling the list is using:

![image](https://user-images.githubusercontent.com/3634580/125165322-c1efe300-e196-11eb-8e5e-f93cd8d45030.png)

[2021-07-10 13:57] abjerner opened #93 "Improve cache busting of Angular views"
For some views, the package is currently appending a hardcoded version number to the query string, while other views have no value at all.

Umbraco exposes a `Umbraco.Sys.ServerVariables.application.cacheBuster` variable, which would be useful for improving the cache busting. The value is a hash based on the current ClientDependency version, so updating the number in `ClientDependency.config` will

[2021-07-10 14:28] abjerner opened #94 "Register dashboard from C# rather than the package.manifest"
Registering the dashboard from C# gives a few extra options 😄

[2021-07-10 16:16] bjarnef commented on #63
@abjerner maybe the editor could select the variant/culture first and the redirect was stored as a specific culture or invariant culture using * similar to the core redirects?

[2021-07-10 16:33] #94 closed, assigned to abjerner

[2021-07-10 16:34] abjerner commented on #93
This has now been implemented using `Umbraco.Sys.ServerVariables.skybrud.redirects.cacheBuster` instead.

[2021-07-10 16:34] #93 closed, assigned to abjerner

[2021-07-10 16:47] abjerner commented on #92
https://github.com/skybrud/Skybrud.Umbraco.Redirects/commit/d2299c8ce780ca18041225e376a2f09cf079527e replaces the use of `<div class="umb-table">` with `<table class="table list">`.

For one, Umbraco's styling seems to have changed a bit, so now the table is instead relying on styling provided by this package. Maybe due to not being a frontender, I also feel I have more control going back to a cla

[2021-07-10 16:47] #92 closed, assigned to nobody

[2021-07-10 16:53] abjerner commented on #87
Hi @andersburla

I've made a lot of progress in the [**v3/main**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/tree/v3/main) branch. I work on it a bit here and there when I can find the time, so I don't have an ETA at the moment.

[2021-07-12 07:54] ronaldbarendse commented on #63
Issue https://github.com/umbraco/Umbraco-CMS/issues/7546, which I linked earlier, addresses the missing culture selection/dropdown in the link picker, but is blocked by how to return/store this culture (e.g. change the return type or include the culture within the UDI). I think adding the culture within the UDI is the best solution (so you'd get `umb://document/[GUID]?culture=en`), but that would

[2021-07-12 09:39] andersburla commented on #87
Thanks for the update. Nice that its coming along.

[2021-07-12 09:39] #87 closed, assigned to nobody

[2021-07-12 11:04] abjerner commented on #63
@ronaldbarendse I remember seeing Marcin working on that. I think Umbraco's issue with how it's stored is bigger than in relation to this package. If this is build into the link picker overlay, it could ideally return the culture as a separate property. That would be sufficient for this package.

A simple solution (I think) could be to use the current link picker overlay as the package is doing to

[2021-08-23 11:49] tnielsenskybruddk opened #98 "Not all labels are translated by the lang xml-files (Umbraco 8)"
This is an example from danish:
![image](https://user-images.githubusercontent.com/3634628/130442237-d30cf7e0-2fd3-48f8-965b-69173f9fc741.png)

[2021-08-23 15:29] remkovb opened #99 "When url without www is used redirecting goes wrong"
We have an original url like /dance
This redirects to filter page with alle kinds of query parameters in url.

for https://www.oururl.com/dance this works perfectly. For https://oururl.com/dance the destination url gets stripped down and doesn’t work anymore. Looks like there is some kind of step in between that changes the destination url somehow.

[2021-08-23 17:55] abjerner opened #100 "Not all labels are translated by the lang xml-files (Umbraco 9)"
Same as https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/98 but for Umbraco 9

/cc @tnielsenskybruddk

[2021-08-23 17:56] #98 closed, assigned to abjerner

[2021-08-23 20:34] abjerner commented on #99
Hi @remkovb

Could you please provide some more information about your issue? Such as:

- What version of Umbraco and this package are you using?

- If there are query string parameters in the inbound URL, could you provide better examples of these?

- Can you share how the redirect in question is saved in the database? Eg. a screenshot or similar. Feel free to blank the domain or similar - it's j

[2021-09-07 06:48] bjarnef opened #101 "Save button isn't localized"
After installing v2.0.9 I noticed localization of save button is missing.

![image](https://user-images.githubusercontent.com/2919859/132297238-9234b9f9-35d7-45fd-aebf-6c10d271ce1a.png)

It seems to use `general_save` key, https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/644684c5707db3f6d7e53dd8155fb97f86a06d3c/src/Skybrud.Umbraco.Redirects/App_Plugins/Skybrud.Umbraco.Redirects/Scripts/Co

[2021-09-07 06:53] abjerner commented on #101
Thanks for reporting @bjarnef 👍

Seems a bit weird. I'm pretty sure it worked when I tested locally. Maybe some other package added the `general_save` key 😮

I'll look into this 😉

[2021-09-07 06:54] bjarnef commented on #101
No, the redirects package is the only third party package I am using in the project, which btw is based on Umbraco v8.14.4 ☺

[2021-09-07 07:01] abjerner commented on #101
I meant that some other package in my test setup might have added the key 🤔 not really sure...

[2021-09-07 07:04] bjarnef commented on #101
Ahh. It could probably just use `buttons_save` or a custom key in the localization files in the plugin folder, since it already have various keys.

[2021-09-07 12:39] PhyxionNL opened #102 "v3: URLs with trailing slash not redirected"
If you have use redirect defined, such as /test to /example. It works with /test, but not /test/. The UI also removes trailing slashes.

[2021-09-07 15:11] PhyxionNL opened #104 "v3: URLs with query parameters not forwarded"
It's currently querying the database for a query parameter but forwarding isn't doing anything.

[2021-09-07 15:38] #101 closed, assigned to abjerner

[2021-09-07 15:41] abjerner commented on #101
The label key is also missing in my local test site, so not sure how I missed that. But I did cleanup a lot of the localization logic for the latest release, and the `general_add` key exists, so I probably didn't get around to testing the save button (or just didn't notice).

Anyways. I pushed a new commit using `buttons_save` 😉

[2021-09-07 17:16] abjerner opened #105 "Backport GetDestinationUrl method from Umbraco 9 package"
For the Umbraco 9 package, I added the [**IRedirectsService.GetDestinationUrl**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/d73c7db7ee127356e92bcf21fdf39a70f6267bc8/src/Skybrud.Umbraco.Redirects/Services/IRedirectsService.cs#L101) and [**RedirectsService.GetDestinationUrl**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/d73c7db7ee127356e92bcf21fdf39a70f6267bc8/src/Skybru

[2021-09-15 21:31] itsliamprowse opened #106 "Umbraco 9 failing to boot SqlException: Incorrect syntax near the keyword 'IF'."
I've just installed v3 alpha 2 into an Umbraco 9 RC 3 project, and I get the following error when the website boots, If I remove the redirects package it works again, but as soon as I reinstall it, it fails to boot.

Have I missed something?

Thanks in advance

`SqlException: Incorrect syntax near the keyword 'IF'.
System.Data.SqlClient.SqlConnection.OnError(SqlException exception, bool breakConne

[2021-09-16 07:07] abjerner commented on #106
Hi @itsliamprowse

What kind of database are you using?

The latest alpha contains a migration that removes a single column from the database table - but only if the column already exists, so the query doesn't fail.

I had a small suspicion this wouldn't work in all database types, but this being an alpha release, I only ended up testing with SQL Server for now.

[2021-09-16 07:58] itsliamprowse commented on #106
Hey @abjerner

Thanks for getting back to me,  I am using SQL Server, however our dev server uses SQL Server 2014 v12.0.2000, so it could be something that's not supported on older versions?

[2021-09-19 18:33] abjerner commented on #106
I've now pushed a new release that should fix this. I currently don't have a setup for testing in SQL Server 2014, but I will try to get something for that setup for testing future releases. The fix uses some of Umbraco's build-in logic around migration that I didn't knew about, so there should be better support for even more database engines.

As the migration never finished in your solution, it

[2021-09-19 18:33] #106 closed, assigned to abjerner

[2021-09-19 18:37] abjerner commented on #102
Closing as fixed by #103. Thanks for the help 👍

[2021-09-19 18:37] #102 closed, assigned to nobody

[2021-09-19 18:53] itsliamprowse commented on #106
Just tested, working perfectly! Thank you! :D

[2021-09-19 20:13] #99 closed, assigned to nobody

[2021-10-06 12:10] MMasey commented on #43
Out of curiosity, what's the current status of this issue? I have a V8 site that is experiencing this same issue. For a quick patch I could fork the repo and pull this @ronaldbarendse's fix above and build it locally, but just wanted to see if it might be actioned in this repo.

I know you're probably super busy @abjerner so no worries.

[2021-10-14 14:49] nobledm opened #110 "Problems Working on Cloud"
**Umbraco Version**: Cloud 8.16 (soon to be 8.17)

**Issue**: When pushed from a local environment to the live Cloud environment it breaks it completely. No access to backoffice, no error logs are registered, but can turn on debugging to get this:

[code]

**Steps to Recreate**:
1. _Install Skybrud Redirects_ via Nuget on local machine.
2. _Push_ to Cloud
3.  _Site breaks_. Once at this stage we g

[2021-10-20 14:49] rickbutterfield opened #111 "v3: Cannot run an in place migration from an Umbraco 8 site"
I'm trying to migrate an Umbraco 8 site to v9, using a copy of the existing database, and the startup is failing on the migration.

![image](https://user-images.githubusercontent.com/200450/138116481-16c6a68c-c9b6-4649-ad28-51d9ac6470d9.png)

[code]

Is it possible to go from v2.0.9 on Umbraco 8.17 to v3.0.0-alpha005 on Umbraco 9.0.1?

[2021-10-27 16:04] rickbutterfield commented on #111
Fixed in #112

[2021-11-16 09:37] AaronSadlerUK opened #113 "V9 Doesn't seem to trigger"
I've installed the latest version into V9.0.1 and it doesn't seem to trigger on any redirects, I just get the normal 404 not found page.

Do I need to register something?

[2021-11-24 16:07] karlmacklin opened #114 "Suggestion: support setting up HTTP 410 Gone responses"
Since this package lives in the realm of handling site migrations with redirect setups, I feel this is a useful addition.

When content intentionally is removed there can be a need to specifically reply with HTTP 410 to signal the content is gone and purposefully so. Search engines tend to respect this in a more direct fashion than a 404, which could actually be more of a site/setup error than int

[2021-12-06 15:53] Sophiehillebrant commented on #18
Hi!
Are there any plans on implementing support for wildcard url's? :)

[2021-12-07 13:32] Wiggee11 opened #115 "V9: The factory has not been configured with a proper connection string"
Installing Skybrud.Umbraco.Redirects stops Umbraco application from running if the database/connection hasn't been created yet.

[code]

## To replicate

1. Follow the [steps](https://our.umbraco.com/documentation/Fundamentals/Setup/Install/) to create a fresh and clean Umbraco install with the CLI
2. Run the application `dotnet run` and you will get the installer screen
3. Install Skybrud.Umbraco

[2021-12-09 08:17] abjerner commented on #115
Thanks for reporting @Wiggee11 👍

If you now how to fix this, you're more than welcome to submit a PR for this 😉

Otherwise I'll try to find some time looking into this.

[2021-12-09 10:13] Wiggee11 commented on #115
I can't figure out how to determine the runtime level. It looks like the [RuntimeLevel attribute](https://our.umbraco.com/documentation/implementation/composing/#runtime-levels) has been removed from V9.

I don't know whether it needs to happen within the migration and inject the runtime state?...

[2021-12-09 10:20] abjerner commented on #115
I mentioned this issue for a colleague for another package that we're updating to Umbraco 9. He just showed me that you via a notification handler can check the runtime level before adding the migration plan.

I think this should fix the issue, so I will try looking into that 😉

[2021-12-09 11:43] alanwthom opened #116 "Question: How to set dashboard permissions for specific user groups"
Skybrud.Umbraco.Redirects: v2.0.7
UmbracoCms: v8.12.1

I'm looking to restrict access to the redirects dashboard to specific user groups (editor and admin). I've tried to do this via the `package.manifest` file in the App_Plugins folder as follows [based on the Umbraco docs](https://our.umbraco.com/Documentation/Extending/Dashboards/#specifying-permissions), but I think/suspect this may be overwri

[2021-12-09 14:36] rubenberendsen opened #117 "Permanent redirect has status 302 instead of 301"
HI,

I have checked the package in Umbraco 9.1.2 with Redirects version 3.0.0-alpha006.

If i add a permanent redirect i except a 301 status code but it is a 302 status code

[2021-12-09 20:14] Wiggee11 commented on #115
Oh cool! And if the runtime isn’t ready can you queue the migration up?

Look forward to seeing your implementation. :-)

[2021-12-09 22:52] abjerner commented on #117
Hi @rubenberendsen

This is an oversight. Although the package is still in alpha for Umbraco 9, I'm not sure why I missed that. Should be fixed in [**v3.0.0-alpha007**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v3.0.0-alpha007) 😉

Thanks for reporting 👍

[2021-12-09 22:52] #117 closed, assigned to abjerner

[2021-12-09 22:55] abjerner commented on #115
Hi @Wiggee11

Besides the migration, there was also another similar issue when installing the redirects package before running Umbraco's installer. I forgot to mention the issue in the commit, but you can see what I've changed in the commit here: https://github.com/skybrud/Skybrud.Umbraco.Redirects/commit/c699a4adfe25a23f478eafbee56586bfbfa76db9

This should now be fixed in [**v3.0.0-alpha007**](h

[2021-12-09 22:55] #115 closed, assigned to abjerner

[2021-12-13 09:55] abjerner commented on #113
Hi @AaronSadlerUK

The latest version the time you created this issue would be `3.0.0-alpha005` - is this the version you're running?

The package had some problems if you either had set up an `Error404Collection` in Umbraco or added a custom content finder.

Does it work if you try upgrading to `v3.0.0-alpha006`? This release should address those issues.

Btw - `v3.0.0-alpha007` is currently the

[2021-12-16 10:53] Wiggee11 commented on #115
Sorry Anders, haven't had a chance to look at this until now.

Commit looks great and a fairly straightforward change in the end.

Will let you know if I come across any other issues when I upgrade the package, thanks!

[2021-12-29 16:50] lauraneto opened #118 "[3.0.0-alpha007] Redirects with a root domain don't match"
I've noticed that if I create a redirect and set a specific root domain (not all domains), the redirect won't work.
This is because when the middleware calls `GetRedirectByRequest` the Umbraco context has already been disposed.

I was thinking of doing a pull request for this, but looking at the current implementation I can see multiple possible solutions:
- Removing the need for the Umbraco conte

[2022-01-04 11:09] TQ-Benji opened #120 "[Feature Request v3] Add ability to hide content app on specific doc types"
I have a case that for some nodes the redirect content app is not needed. These nodes also have no properties so no content tab which causes on creation of the node the name field to be disabled in the redirects tab. Editors are then thrown off as they "can't" save the node as you have to change tab to Info first in order to continue creating the node.

![image](https://user-images.githubuserconte

[2022-01-06 14:54] abjerner commented on #120
Hi @EM-Benji

I've been debating a bit with myself whether the content app should be enabled by default. There currently is a check so the content app is only shown for content types, but not for element types. Checking whether the content item has a template or something similar could perhaps be another relevant check.

Anyways - the content app is registered through C#, which is why you can't fi

[2022-01-06 14:54] #120 closed, assigned to abjerner

[2022-01-06 14:58] abjerner commented on #114
Hi @karlmacklin

This would require a lot of restructuring of the package, so at least for now, it's outside the scope of this package.

[2022-01-06 14:58] #114 closed, assigned to nobody

[2022-01-06 15:53] abjerner commented on #116
Hi @alanwthom

The dashboard is controlled by the [**GetDashboardAccessRules** method](https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/latest/src/Skybrud.Umbraco.Redirects/Helpers/RedirectsBackOfficeHelper.cs#L29-L31) method in the `RedirectsBackOfficeHelper` class.

Although this example is for the Umbraco 9 package and for the content app, you can see an example here on how to repla

[2022-01-06 15:53] #116 closed, assigned to abjerner

[2022-01-10 08:53] alanwthom commented on #116
Hi @abjerner

Many thanks for this. It looks like the v2.0.7 version that I had installed didn't have this helper, so I updated the version and was then able to override this. Thanks again for your help. 🙏

[2022-01-11 15:06] abjerner commented on #118
Hi @lauraneto

How are you hosting your Umbraco site?

I have a Umbraco 9.1.1 site which I've published via Visual Studio to IIS, and I can't reproduce the issue with `3.0.0-alpha007` 🤔

[2022-01-21 10:48] mrhodes-bd opened #121 "[3.0.0-alpha007] Creating a new Folder takes user to Redirects tab with the message "This page has not been created yet. You must save and publish the page in order to be able to add redirects to it.""
When creating a new Folder in the content tree (i.e. a node that has list-view enabled), the user is shown the Redirects tab with the message "This page has not been created yet. You must save and publish the page in order to be able to add redirects to it." and is unable to name or save the node.

The workaround currently is to move to the Info tab, where it is then possible to give the node a na

[2022-01-21 12:08] abjerner commented on #121
Hi @mrhodes-bd

The redirects package has a backoffice helper instance, and one of the things it's handling is the content app:

https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v3.0.0-alpha007/src/Skybrud.Umbraco.Redirects/Helpers/RedirectsBackOfficeHelper.cs#L194-L207

For content, `source` is an instance of `IContent`, which exposes a `ISimpleContentType` via the `ContentType` property

[2022-01-21 12:08] #121 closed, assigned to abjerner

[2022-01-31 10:17] TQ-Benji opened #123 "404 error GetRedirectsForNode when viewing media node from inside media picker"
Version 3.0.0-alpha007

Reproduce steps:
On a media picker property with an image set.
Click the image to open the editor.
Click Open in Media Library at the bottom,
Media library view opens but you get the 404 error appear at the bottom.

Seams like the request is setting the type parameter to content when it should be set to media
/umbraco/backoffice/Skybrud/Redirects/GetRedirectsForNode?key=91d

[2022-02-01 15:54] abjerner commented on #118
@lauraneto have you found some time to have another look at this one?

[2022-02-01 15:58] abjerner commented on #123
@EM-Benji thanks for reporting 👍

The type sent to the API *should* be based on the alias of the section. But with that being said, I'll have a look whether I messed something up in the code 😉

[2022-02-09 14:58] #123 closed, assigned to abjerner

[2022-02-09 14:59] abjerner commented on #123
Hi @EM-Benji

This happened because basing the type on `$routeParams.section` when in infinite editing isn't reliable. This should be fixed now, and will be part of the next release 😉

[2022-02-09 15:01] abjerner commented on #113
Hi @AaronSadlerUK

As I haven't heard back from you, and I haven't been able to reproduce this issue, I'm closing the issue. Feel free to comment again if you have some more information 😉

[2022-02-09 15:01] #113 closed, assigned to abjerner

[2022-02-09 15:10] abjerner commented on #110
Hi @nobledm

Sorry for not replying to this issue before now. Unfortunately I don't really have any experience with Umbraco Cloud, but as far as I know there are plenty of people using the package on Umbraco Cloud, so I'm leaning towards this is more an issue with how you deploy to Cloud rather than this package.

If you're installing the package locally via NuGet, you might have to commit `Skybru

[2022-02-09 15:10] #110 closed, assigned to nobody

[2022-02-09 15:11] #118 closed, assigned to nobody

[2022-02-16 15:20] abjerner opened #124 "Redirects with special characters in the path doesn't work"
<table>
  <tr>
    <td><strong>Version</strong></td>
    <td>3.0.0-alpha007</td>
  </tr>
</table>

If a redirect has an inbound path like `/rød-grød-med-fløde`, it isn't picked up by the redirect middleware, but `/roed-groed-med-floede` works fine, so there appears to be some issues with special characters.

[2022-02-16 15:23] abjerner opened #125 "Re-implement events (notifications) like in the V8 package"
<table>
  <tr>
    <td><strong>Version</strong></td>
    <td>3.0.0-alpha007</td>
  </tr>
</table>

As the redirect module/middleware is a complete rewrite, it currently doesn't support any events. Similar to how it worked in Umbraco 8, the Umbraco 9 package have a pre lookup event and a post lookup event in the middleware, but use Umbraco's new notification system (via `IEventAggregator`).

[2022-02-17 09:09] abjerner commented on #125
This has now been implemented and will be part of the **v3.0.0-alpha008** release 😎

[2022-02-17 09:09] #125 closed, assigned to abjerner

[2022-02-17 09:14] #124 closed, assigned to abjerner

[2022-02-17 13:41] abjerner opened #127 "Move redirect information from the dashboard to the overlay"
Information about the redirect - such as ID, create date and update - aren't super necessary for the editors on a daily basis, and as such, the information could be moved to the overlay to clear up some space in the dashboard.

[2022-02-17 13:41] mlhDevelopment opened #128 "Query String parameter causes 404 when ForwardQueryString enabled"
## Issue Description
When a redirect is setup with ForwardQueryString enabled no redirect is being found when a query string parameter is present resulting in the 404 passing through Skybrud

## Versions
Umbraco 9.2
Skybrud 3.0.0-alpha007 (via NuGet) as well as github commits df8263a7402e2caa95c30cf3e43140fa2673ff6c and bd9f04f3383320a4c833ffce2aad0a8e601af50c

## Test Scenario

### Setup

- Creat

[2022-02-17 14:03] abjerner commented on #128
@mlhDevelopment thanks again 👍

#43 is for Umbraco 8. I think what you're proposing for Umbraco 9 already works in Umbraco 8. The problem described in the issue is that third parties may append a query string to the inbound URL (eg. `utm_medium=email`), and no redirect is then found if query string forwarding isn't enabled on the intended redirect.

I don't really have a good solution for this. On

[2022-02-17 14:12] mlhDevelopment commented on #128
Yes, both #43 and #104 were not exact matches to what we were seeing. I just added PR #129 and after adding that on top of you work you just finished all redirects worked as expected. Caveat: I didn't test non-FowardQueryString redirects since I don't have them setup yet.

The main question is - why is the logic between `GetRedirectByPathAndQuery(guid, string, string)` and `GetRedirectByUrl(guid,

[2022-02-17 14:23] abjerner commented on #128
Some of it may be leftovers from the V8 package. Before progressing to a beta release or a stable release, I need to go through the interface and the methods, and see if anything needs a cleanup. I think the `GetRedirectByUrl` would fit that category.

So I guess `GetRedirectByPathAndQuery` is a replacement for `GetRedirectByUrl`, but yes, they should ideally have done the same.

[2022-02-17 15:26] abjerner commented on #127
This has now been implemented and will be part of the **v3.0.0-alpha008** release 😎

[2022-02-17 15:26] #127 closed, assigned to abjerner

[2022-02-17 16:12] #43 closed

[2022-02-17 16:12] #128 closed, assigned to nobody

[2022-02-28 14:41] abjerner commented on #104
Hi @PhyxionNL

Is this still an issue with the latest alpha release?

You haven't provided a lot of information, so I'm closing the issue for now. If the issue still exist, and you can provide some more information, feel free to open the issue again 😉

[2022-02-28 14:41] #104 closed, assigned to nobody

[2022-02-28 14:41] #88 closed, assigned to nobody

[2022-02-28 14:42] PhyxionNL commented on #104
I don't know, I have stopped using this and replaced it with rewrite rules.

[2022-02-28 14:45] abjerner commented on #86
Hi @tnielsenskybruddk

This requires a lot of restructuring to implement in Umbraco 8, so I'm closing the issue as we're moving towards Umbraco 9.

I had this issue in mind when rewriting the Umbraco 9 package, so it's already supported there.

[2022-02-28 14:45] #86 closed, assigned to nobody

[2022-02-28 14:48] abjerner commented on #84
Hi @jesperweber

Splitting up the package puts a bit more work on my end when creating new releases, so at least for now, we won't be splitting up the package.

[2022-02-28 14:48] #84 closed, assigned to nobody

[2022-03-01 17:19] abjerner commented on #111
Closing the issue as #112 has now been merged. Thanks for the help @rickbutterfield 👍

[2022-03-01 17:19] #111 closed, assigned to nobody

[2022-03-01 17:54] abjerner commented on #70
Hi @webtimisten

As we're moving towards Umbraco 9, I'm going through and closing older issues for Umbraco 8, which is also why I'm closing this issue.

An event like what I described in my last comment still does make sense for Umbraco 9, but it's not something with a high priority.   So for now I've marked the issue as **could-have** (so we can find it later), and closed it.

[2022-03-01 17:54] #70 closed, assigned to abjerner

[2022-03-01 17:57] abjerner commented on #67
Hi @TimGeyssens

I'm doing a follow-up on the open issues of this package. As the packages already features a property editor for inbound redirects, and since we're moving towards Umbraco 9, we won't be adding a content app to the Umbraco 8 package.

But on the plus side, the Umbraco 9 package already has a content app 😉

[2022-03-01 17:57] #67 closed, assigned to abjerner

[2022-03-01 18:02] abjerner commented on #65
Hi @madden-tom (and others)

For the [**v2.1.2**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.1.2) release, I added better support for query strings and fragments. This should thereby also address the problem described in this issue.

Could you test and confirm whether this is now the case?

[2022-03-01 18:02] #65 closed

[2022-03-01 18:07] abjerner commented on #64
Hi @ronaldbarendse

This was something that the Umbraco 8 package *should* have supported, but as I've lacked the time to look into this, and as we're now moving towards Umbraco 9, I think it's too late to add this feature. I'm therefore closing the issue.

[2022-03-01 18:07] #64 closed

[2022-03-01 18:17] abjerner commented on #63
This package - both for Umbraco 8 and Umbraco 9 - still relies on Umbraco link picker overlay, which doesn't support picking a specific culture. So to solve the problem described in this issue, the link picker in Umbraco would have to be updated first - or I would have to write my own link picker, which is not a small task.

So while this is still relevant, I'm closing the issue, as it's not somet

[2022-03-01 18:17] #63 closed

[2022-03-01 18:21] abjerner commented on #56
@John-Blair sorry for not getting back to you on this. The problem that you're describing seems like something that fixed a while ago.

If you're still having problems with this, could you test and confirm whether this is still an issue in the latest version of the Umbraco 8 package?

I'm closing the issue for now, but we can open it again if the issue still exist.

[2022-03-01 18:21] #56 closed

[2022-03-01 18:23] abjerner commented on #54
@amitch17 sorry for not getting back to you on this. You created this issue when the package was still only available as an alpha release, so it was fixed before we've released the first stable release.

[2022-03-01 18:23] #54 closed

[2022-03-01 18:24] #62 closed

[2022-03-01 18:25] #41 closed

[2022-03-01 18:26] #37 closed

[2022-03-01 18:49] abjerner commented on #10
Implemented and scheduled for [**v3.0.0-beta001**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/labels/release%2F3.0.0-beta001)

[2022-03-01 18:49] #10 closed

[2022-03-01 23:12] TimGeyssens commented on #67
sounds good! great work @abjerner

[2022-03-02 10:46] abjerner commented on #28
@bjarnef better late than never, the redirects package will be using `vm` from the next release 👍

[2022-03-02 10:46] #28 closed

[2022-03-09 16:21] sebastiandammark opened #130 "Bug: Can't create documents without content"
If you're trying to create a document/node where **Redirects** is the first tab, the document name field is disabled.
This leads to not being able to save the page, unless you switch to the **info** tab first.

<img width="692" alt="image" src="https://user-images.githubusercontent.com/1575483/157480143-ea0b922d-b60b-4f63-98a8-c9eea419b762.png">

[2022-03-09 16:26] abjerner commented on #130
Hi @sebastiandammark

As mentioned on Slack, this is a duplicate of https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/123

The bug has been fixed, but I've yet to push a new release. Hopefully I'll be able to do that soon 😉

[2022-03-09 16:26] #130 closed, assigned to abjerner

[2022-03-10 13:55] abjerner commented on #100
Closing the issue, as I think all labels are now localized 😎

[2022-03-10 13:55] #100 closed, assigned to abjerner

[2022-03-10 15:16] abjerner commented on #130
Was a bit too quick to reply, so this is a duplicate of #120 and not #123.

#120 is not really a bug, but something that can be configured through code (see my comment in the issue for more information).

[2022-03-14 12:08] ane-dwarf opened #131 "2.1.3: AddRedirect no longer works"
#### Issue description

After updating to [newest release](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.1.3) (v2.1.3) we are no longer able to create redirects using the following two lines of code:

[code]

Well, actually it does work if you set `DestinationQuery` and `DestinationFragment` to nullable in the database.
The `AddRedirect` overload with `AddRedirectOptions` wo

[2022-03-14 12:24] abjerner commented on #131
Hi @ane-dwarf and thanks for reporting this 👍

IIRC the columns (old and new) are not nullable as that caused some problems when generating the `WHERE` clauses from C#. I'm not sure whether this was only an issue in PetaPoco (Umbraco 7), or also NPoco (Umbraco 8 and 9). So making the columns nullable could lead to other issues.

I think I've missed setting the query string and fragment in the `Add

[2022-03-24 22:46] #105 closed, assigned to abjerner

[2022-04-14 14:20] albinbrengesjo opened #132 "Redirects has to be double saved"
Hi there,

Bumped into a weird issue where the redirect doesnt work at first glance after adding it. I had to add it, manually click "edit" on the redirect I just created and then hit "save" in order to make it work properly. Running version 3.0.0 of skybrud on umbraco 9.3.1. Anyone else experience the same problem?

[2022-04-20 17:28] callumbwhyte commented on #132
@albinbrengesjo I can confirm we are seeing the same...

The difference seems to be the removal of a trailing slash from the "Original URL" after saving. e.g. `/some-page/` is the value initially saved on creation, while `/some-page` is the value saved after editing.

The [`EditRedirect`](https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v3/main/src/Skybrud.Umbraco.Redirects/Controllers/Ap

[2022-04-21 17:30] abjerner commented on #132
Hi @albinbrengesjo and thanks for reporting this 👍

As Callum mentions, this sounds like that trailing slashes are not properly removed from the inbound URL when adding new redirects.

Via Callum's PR, this should now be fixed in the latest release:

https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v3.0.2

Could you test and confirm whether this fixes your issues?

[2022-04-25 10:22] abjerner opened #135 "Re-add `GetOutboundRedirect` extension methods"
https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/v2/main/src/Skybrud.Umbraco.Redirects/Extensions/PublishedContentExtensions.cs#L13-L44

[2022-04-27 09:05] abjerner commented on #135
Closing as this was implemented for [**v3.0.3**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v3.0.3) 🎉

[2022-04-27 09:05] #135 closed, assigned to abjerner

[2022-04-27 09:07] abjerner commented on #132
@albinbrengesjo as I haven't heard back from you, I'm closing this issue on the assumption that it works with [v3.0.2](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v3.0.2) and newer.

If you're still experiencing issues after upgrading, feel free to open the issue again 😉

[2022-04-27 09:07] #132 closed, assigned to abjerner

[2022-05-02 12:50] woodi123 opened #136 "Multilingual issue"
I think there's an issue if you have a multilingual tree. Let's assume there are two cultures defined on the site:
- de-DE (default)
- fr-FR

I go to the backoffice and switch the tree to fr-FR. Then i create a content-redirect:

![image](https://user-images.githubusercontent.com/53077228/166235764-c6cf6fcb-fd29-416b-bb1e-aabafd55c77d.png)

As you see, the url seems correct but if i then open `/fr

[2022-05-06 14:39] abjerner opened #137 "Add support for Umbraco 10"
### TODOs

- [x] Update project to build against `10.0.0-rc1`
- [x] #138
- [x] Support custom backoffice URLs - see https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/140
- [ ] <s>Update project to build against `10.0.0-rc2`</s>
- [x] Update project to build against `10.0.0-rc3`
- [x] Update project to build against `10.0.0` (once released)

[2022-05-06 14:39] abjerner opened #138 "Sort out usage of the now obsolete `IScopeProvider`"
Sort out warnings about obsolete classes:

[code]

[2022-05-10 15:39] jonroberts24 opened #139 "Cannot add manual redirects with URLs over 256 characters"
Hi, When entering a long URL we get this error "Cannot add manual redirects with URLs over 256 characters".
Is there a way we can increase this number of characters?

Thanks
Jon

[2022-05-10 16:31] abjerner commented on #139
Hi @jonroberts24

Do you by any chance have some more information about the issue?

I don't recall an error message like that being part of this package. Could you please share what version of this package and Umbraco you're using?

Some information about the context when the error occurs? Feel free to share screenshots or error messages 😉

It might also be helpful you are able to share the URL in

[2022-05-11 08:10] jonroberts24 commented on #139
Hi,
I have checked the Log files and this is the error it outputted:

System.Exception: Unable to insert redirect into the database ---> System.Data.SqlClient.SqlException: String or binary data would be truncated in table 'CMSProdSQL.dbo.SkybrudRedirects', column 'Url'. Truncated value: '/guidance/browse-all-guidance/other-guidelines-and-reports/valproate-use-in-women-and-girls-of-child'.
The sta

[2022-05-12 10:11] abjerner commented on #139
@jonroberts24 I noticed that the URL mentioned in your stack trace only has a length of 100 characters, which seems a bit weird - even if it was truncated. Is `/guidance/browse-all-guidance/other-guidelines-and-reports/valproate-use-in-women-and-girls-of-child` the full URL being entered?

Could you try try posting how the table looks? Eg. click **Design** on the table in SSMS or something similar

[2022-05-12 10:25] jonroberts24 commented on #139
Hi,
Thanks for this.
Funny how the error only shows part of the URL - the full URL is:
/guidance/browse-all-guidance/other-guidelines-and-reports/valproate-use-in-women-and-girls-of-childbearing-years/postpartum-family-planning-best-practice-paper-no-1/comprehensive-abortion-care-best-practice-paper-no-2/reproducing-site-guidance-and-patient-information/

I'll set up SQL locally to see if I can ge

[2022-05-12 10:39] abjerner commented on #139
That URL is 270 characters, so that might be why the package is failing the insert your redirect into the database. I would have imagined that the stack trace would show the first 255 characters, and not just the first 100.

Anyways, if you do have a local copy of the database running locally, it might be worth trying to change the type of the `Url` column from `nvarchar(255)` to `nvarchar(512)` o

[2022-05-12 11:28] jonroberts24 commented on #139
Hi,
That fixed it :)
Thank you so much

[2022-05-17 09:03] NBM-Trifork commented on #131
Any news to this issue, I have the same in umbraco 9

[2022-05-18 19:26] iFaxity opened #140 "Support changing Backoffice UmbracoPath"
As per Security Hardening in Umbraco 9, changing the Backoffice base url is recommended (https://our.umbraco.com/documentation/reference/security/Security-hardening/#rename-your-umbraco-folder).

However in this plugin the URL to the plugins backend is hard-coded in the class **RedirectsBackOfficeHelper**. Reference: https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/af88c0cfb15d76147c0555d

[2022-05-19 09:54] abjerner commented on #131
@NBM-Trifork I haven't had the time to look into this yet. But the `AddRedirect` that causes problems in V8 doesn't exist in the V9 package. Could you elaborate a bit about the issues that you're experiencing?

[2022-05-19 10:05] abjerner commented on #140
Hi @iFaxity - thanks for reporting this 👍

This is an oversight - possibly because I didn't now how to look up the Umbraco path at the time, and thought I'd fix it later.

Even though the URL is hardcoded in C#, it should already be dynamic in Angular components, so I'd imagine the following will work:

https://github.com/skybrud/Skybrud.Umbraco.Redirects/blob/ce4aff37777727d10a23571ecd6cb1b6e4860

[2022-05-19 21:43] abjerner commented on #131
@ane-dwarf This should now be fixed in the [**v2.0.4**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v2.1.4) release ;)

@NBM-Trifork I'm closing the issue for now as I'm not seeing the same problem in the V9 package. But if you have some more information, please do share, and I'll look into it.

[2022-05-19 21:43] #131 closed, assigned to abjerner

[2022-05-20 08:25] iFaxity commented on #140
Great! Thanks for the quick response.

[2022-05-21 19:15] skttl opened #141 "Make it possible to disable the content app"
I really don't like that the package now adds a content app to ALL nodes displaying redirects for that specific node. Can we have a config option to disable this, or maybe disable/enable based on content type alias?

[2022-05-22 10:47] abjerner commented on #141
Hi @skttl

When adding the content app I wasn't sure whether it should be enabled or disabled by default, but it ended up being enabled by default since it seemed that would fit most use cases.

There is no config option to disable the content app (at least not yet), but the content app is instead controlled by the `RedirectsBackOfficeHelper` class. You can replace it with your own implementation

[2022-05-22 17:37] abjerner commented on #141
Now there's a bit of documentation here:

https://packages.skybrud.dk/skybrud.umbraco.redirects/docs/v3/configuration/content-app/

[2022-05-22 17:37] #141 closed, assigned to nobody

[2022-05-23 17:10] abjerner commented on #138
Turned out to be quite simple, as `Umbraco.Cms.Core.Scoping.IScopeProvider` should be replaced with `Umbraco.Cms.Infrastructure.Scoping.IScopeProvider`. Part of the [**v4.0.0-alpha002**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v4.0.0-alpha002) release 😎

[2022-05-23 17:10] #138 closed, assigned to abjerner

[2022-05-23 17:14] abjerner commented on #140
Hi @iFaxity

I found a few more places I need to fix, which was released as part of [**v3.0.4**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v3.0.4) the other day.

I've also started to release alpha versions for Umbraco 10, where I've made the same changes. This is now part of the [**v4.0.0-alpha002**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v4.0.0-

[2022-05-23 17:14] #140 closed, assigned to abjerner

[2022-05-27 10:24] abjerner commented on #141
Hi @skttl

I haven't heard back from you, so just wanted to check whether this was a viable solution for you?

I think the backoffice helper gives you the most amount of control. But I guess a config section in `appsettings.json` could also make sense when you only need something simple 🤔

[2022-05-31 09:26] woodi123 commented on #136
Hey @abjerner, any updates on this one? 🙂

[2022-05-31 11:34] skttl commented on #141
Good enough for me, thanks! 👍

[2022-06-01 18:59] abjerner commented on #136
Hi @woodi123

It's not something I currently have a good solution for.

For one, we're currently using Umbraco's link picker overlay for selecting the destination, which doesn't support selecting a culture. To support cultures, we'd either have to fully rewrite Umbraco's overlay or build something around it - both something that would take some time to implement.

People are also likely to have di

[2022-06-02 02:31] kudecha opened #143 "Unable to load redirects - Umbraco v8.18.3"
Hi,

I am working with Umbraco v8.18.3 using Visual Studio 2022.
I have also installed Skybrud.Umbraco.Redirects v2.1.4 with it using nuget within VS 2022.
Everything works fine on localhost on my dev machine.

However, it does not work when publishing to IIS 10 on production server.
I can login to umbraco site and am able to view the dashboard without any issues on production server.
But, it does

[2022-06-03 09:39] woodi123 commented on #136
Hi @abjerner

Thanks for the feedback. I see your points.\
Hoping, that you'll find a solution soon 😊

[2022-06-17 14:40] #137 closed, assigned to abjerner

[2022-06-28 20:40] disarak opened #144 "Add new redirect and Reload buttons are not visible in Umbraco 10"
Hi

After updating Umbraco 9 -> 10  I have installed Skybrud redirects but the "**Add new redirect**"  and "**Reload**" buttons are not visible on admin. Please see attached image.

umbracoKeyValue is **3.0.0-alpha008** on database. Can someone please help? Thank you!

<img width="1848" alt="Skybrud" src="https://user-images.githubusercontent.com/15925693/176279533-4ea44f24-5114-4cfe-8c85-86e13603

[2022-06-28 21:06] abjerner commented on #144
Hi @disarak

Do I understand you correctly that you installed Skybrud Redirects *after* upgrading Umbraco?

What version of the package did you install? The entry in the `umbracoKeyValue` table only indicates the last migration to run, so the installed version doesn't necessarily match the package version. For Umbraco 10 you should be running v4.0.0.

Anyways - the UI hasn't loaded properly, so it

[2022-06-29 07:46] disarak commented on #144
Yes @abjerner , it was an issue with UI. Apparently, JavaScript hasn't loaded properly.  All is working fine now.  Thank you for your support.

[2022-06-29 08:50] #144 closed, assigned to abjerner

[2022-07-04 11:43] bjarnef opened #145 "Use radiobutton components"
It would be great if the redirects package used the `<umb-radiobutton>` component from Umbraco core at the advanced options - at least in the latest versions. I think the `<umb-radiobutton>` and `<umb-checkbox>`  components was initially included in Umbraco v8.0.0.

![image](https://user-images.githubusercontent.com/2919859/177147348-9542645d-d193-4794-8c45-df298f8e3176.png)

It would look more co

[2022-07-05 09:16] rpjengaard opened #146 "Whishlist"
Hi @abjerner ,

I have this whishlist from Kasper. Please take a look at it, and lets have a discussion about it.

**- Option to export all redirets for a specific website**
I think we can look these two as one as one common task. If we define checking for errors as validating that content and media redirects still work, then I'd say this task would require round 4-8 hours. The result would be tha

[2022-08-11 15:00] parachute-dev commented on #144
@abjerner sorry to open this up again - but getting a very similar experience on Umbraco 10 and Skybrud.

Works fine locally - publishing I get this error: would you know what I might be doing incorrectly?

umbraco-backoffice-js.js.v482ed8a50f640cfe7e0cedea2da6c1f11a5a80a3:147 Error: [$controller:ctrlreg] http://errors.angularjs.org/1.8.3/$controller/ctrlreg?p0=SkybrudUmbracoRedirects.Dashboard.Co

[2022-08-16 15:21] abjerner commented on #144
@parachute-dev How are you doing a publish?

I think you're missing the actual error message, but from the "stack trace", it seems that the `SkybrudUmbracoRedirects.Dashboard.Controller` controller is missing. If this is the case, I'm guessing that all the backoffice assets from my package might be missing.

Can you check and confirm whether the published website has a `/App_Plugins/Skybrud.Umbrac

[2022-08-16 16:26] abjerner commented on #143
Hi @kudecha,

Have you by any chance changed the URL of the backoffice for the live environment? This is not something that is currently supported by the V8 version of this package, so that could result in the errors that you've posted.

[2022-09-06 11:24] debwebdanmark opened #148 "Doesn't work for 10.1.0.89"
I have installed the nuget for Umbraco Cloud 10.1.0.89 and here it doesn't work.

It looks like this
![image](https://user-images.githubusercontent.com/2571686/188623906-5d4bf3e9-30d6-45c2-a9a5-41a72e02adaf.png)

It throws this in the console:
umbraco-backoffice-js.js.v637979751869315860:147 Error: [$compile:multidir] http://errors.angularjs.org/1.8.3/$compile/multidir?p0=redirectsNode&p1=%20(modu

[2022-09-06 11:29] abjerner commented on #148
Please include the what version of the package you've installed, and as many details as you can. Otherwise it's impossible for me to help you 😉

[2022-09-06 11:33] debwebdanmark commented on #148
Hi @abjerner
Installed the 4.0.1 to a Umbraco 10.1.0.89 .net 6 solution.

I simply installed the nuget package, build and tested it locally, and it looks like the picture above.

If I look under my debug folder under /App_plugins/Skybrud.Umbraco.Redirects there are only empty folders?

[2022-09-06 11:56] abjerner commented on #148
I don't have a good idea what goes wrong then. As of 4.0.1, the package is a Razor Class Library, meaning you won't see any App_Plugins files when developing locally.

Are you sure all folders within `/App_plugins/Skybrud.Umbraco.Redirects` are in fact empty? And no `package.manifest` file?

Is this the first time you're installing the package in this solution, or did you upgrade from 4.0.0?

[2022-09-07 16:44] abjerner opened #149 "Improve redirects backup logic"
Since the `AddDestinationColumnsMigration` changes the database table, it saves a backup to disk before making those changes. Creating the backup works, but there are some minor issues that would be great to address:

- Currently redirects are saved to a JSON file within the `~/App_Data/Skybrud.Umbraco.Redirects` directory in the web root. Although the `~/App_Data` directory still appear to be pro

[2022-09-08 12:41] royberris opened #150 "Redirects break when having any kind of 404 page."
When we set up redirects we are using 'All sites'. This adds a Guid.Empty to the database on the RootKey. In umbraco I have my domain set up as example.com. If I now browse to example.com/test which should be a redirect. I get the Umbraco 404 page. When I navigate to example.azurewebsites.net/test the redirect does work. Which is weird because the dashboard is labbeled as 'All sites'. But in truth

[2022-09-08 16:49] abjerner commented on #150
Hi @royberris

You write that when you go to `example.com/test`, you'll see the Umbraco 404 page. What is the status code returned by this page?

For performance reasons, we don't really want the redirects module to intercept all requests, so the module the only kicks in when the server responds with a 404 status code. I'm suspecting the problem here is that the status is 200 OK or something else

[2022-09-08 16:52] royberris commented on #150
Hi @abjerner

Progressing more it might be the last chance content finder to present 404 pages that is interfering. But not sure why it only does that in scenarios where the domain is the same as set in Umbraco. How would I handle a 404 correctly while keeping this plugin to work

[2022-09-08 16:57] abjerner commented on #150
What's your setup now? Is it a custom content finder? And even if the content finder shows the 404 page, it's important that the status code is 404 and not something else. If you can share some more about your setup, I can try to replicate it in my end.

[2022-09-08 21:26] #149 closed, assigned to abjerner

[2022-09-08 21:33] abjerner commented on #148
@debwebdanmark are you able to provide any more information about this?

Anyways, I'm not entirely sure about the error message, but it may be because two Angular directives compete for the same name, and  thereby triggers an error. I haven't seen this with the redirects package before, and haven't heard others experiencing the same issue. But as an attempt to fix this issue, I've tried renaming t

[2022-09-09 06:11] debwebdanmark commented on #148
hi @abjerner
That fixed it 👍

[2022-09-09 07:37] abjerner commented on #148
Awesome 😄

I'm still not entirely sure why this happened. Maybe Umbraco has introduced a new directive specific to cloud, or maybe another package uses the same alias. Anyways, glad that it works now.

[2022-09-09 07:37] #148 closed, assigned to nobody

[2022-09-09 08:06] royberris commented on #150
@abjerner hi, problem was not with the package but with the content finder. The "fix" I described wasn't fixing the package, it was breaking the content finder. We tried to get the current domain with the Domain Service. But that doesn't work, when the domain in Umbraco is more than the HttpRequest Authority. So I had to fall back to another method trying to determine the content root based on the

[2022-09-09 14:34] royberris commented on #150
Reopening this issue.

After thought of having it fixes (on development and acceptance) deploying it to production and it is broken again. I removed the content finder from the project, and reverted back to the way Umbraco describes it on the documentation. With a Error404Collection in the appsettings. This works, but guess what. If I set this the redirects stop working.

[code]

The moment I remo

[2022-09-10 17:59] abjerner commented on #150
Hi @royberris

Can you please reply back whether your 404 error page actually responds with a 404 status code? If it doesn't, this is the reason why the redirects module doesn't kick in.

I'm not aware of any existing issues. I've tried setting up a fresh 9.5.4 site, and install Skybrud Redirects 3.0.4, and then deploy the site to IIS. With a `Error404Collection` setup like in your last example, a

[2022-09-13 06:28] cornehoskam opened #151 "Default Redirect Configuration"
Hi there!
Is there an option to set a Default configuration when adding a new redirect? Our client wishes for the "Forward query string" option to be enabled by default when adding new redirects, and only explicitly disable it when they wish to do so, to make sure that they don't forget to enable this option. Is there any option/configuration to do this?
Kind regards,

[2022-09-13 06:59] abjerner commented on #151
Hi @cornehoskam

Not currently 😦

I guess adding support for that could make sense, but that would require sending a model to the add redirect overlay, which isn't happening right now.

[2022-09-13 07:01] cornehoskam commented on #151
Hi Anders,

Darn, that's a shame! Thank you anyway for the quick response! 🙂

[2022-09-13 07:19] abjerner commented on #151
Thinking a bit more about it, broadcasting a JavaScript event that lets you manipulate the initial model might actually not require that much. I can try giving that a go.

Doing the same from C# would require some more development.

Is this for Umbraco 10 btw?

[2022-09-13 07:27] cornehoskam commented on #151
As of right now it's still the latest version of Umbraco 9, but we're also in the middle of upgrading and within a week we should be on Umbraco 10, so consider this question only relevant for v10! 🙂

[2022-09-13 17:35] abjerner commented on #143
Closing due to inactivity...

[2022-09-13 17:35] #143 closed, assigned to nobody

[2022-09-13 17:36] abjerner commented on #27
Although still in alpha, this is now possible through this add-on: https://github.com/skybrud/Skybrud.Umbraco.Redirects.Import

[2022-09-13 17:36] #27 closed

[2022-09-13 20:11] abjerner commented on #145
@bjarnef this has being lying around inactive for way too long, so had a look at it.

I'm not a fan of each radio button having it's own row, so I ended up with this:

![image](https://user-images.githubusercontent.com/3634580/189999482-b81040a2-ae80-4bb9-8926-dfc90b4f7992.png)

This is part of the new [`v4.0.3`](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v4.0.3) 😉

[2022-09-13 20:11] #145 closed, assigned to abjerner

[2022-09-13 20:22] abjerner commented on #151
Hi @cornehoskam

I just pushed a new [`v4.0.3`](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v4.0.3) release, which exposes two new JavaScript events for the redirect overlay. They can be used something like this:

[code]

The overlay does various initialization - eg. it creates an array of the properties visible in the overlay. To change the default value for **Forward query

[2022-09-13 20:22] #151 closed, assigned to abjerner

[2022-09-15 12:19] royberris commented on #150
Hi, after some more work on this we've found a different approach. We still haven't identified why one particular set-up causes this issue. Thanks for your time.

[2022-09-15 12:19] #150 closed, assigned to nobody

[2022-09-28 11:11] Global1337 opened #152 "Issue on Umbraco 10"
Im using the new version 4.0.3 from Nuget.

Im having some sort of server issue. You can see my screenshots.
![image](https://user-images.githubusercontent.com/35682568/192764266-b7ca17ac-6c4d-4850-a3d4-f58d303cc301.png)

In the logs im getting the following:
![image](https://user-images.githubusercontent.com/35682568/192764573-cef85374-8642-438f-b7de-dfd73ec3023a.png)

What to do? :D

I've only h

[2022-09-28 11:40] abjerner commented on #152
Hi @Global1337

I'm not entirely sure how, but it could seem like one of the migrations of the package didn't run properly. Is it a fresh Umbraco installation, or was it upgraded from Umbraco 9 or something like that?

Can you check the following:

- Is there anything in the Umbraco logs? (specifically from when the package was installed)

- In the database, is there a row in the `umbracoKeyValue`

[2022-09-28 12:38] Global1337 commented on #152
@abjerner

Its a fresh Umbraco 10 version.

The log:
[skybrud-log.txt](https://github.com/skybrud/Skybrud.Umbraco.Redirects/files/9664933/skybrud-log.txt)

from the database:
![image](https://user-images.githubusercontent.com/35682568/192779896-6418a38d-98c8-4033-a42b-e35cc1b37597.png)

Thanks a lot for the fast response time. :)

[2022-09-28 19:23] abjerner commented on #152
Hi again. The log file appears to be after the package has been installed, so any errors from package's migrations are not in the log file.

I've tried to do some testing, but I haven't been able to reproduce the issue. For one, I've just tried to set up a new Umbraco 10.1 and with SQL Server, and the table in the database looks correct. I've also had no problems in the past with various version o

[2022-09-29 11:59] Global1337 commented on #152
It worked! :D

Deleting the SkybrudRedirects table and the row in umbracoKeyValue did the job.
Thanks a lot for the help

[2022-09-30 15:51] #152 closed, assigned to abjerner

[2022-10-03 12:08] sebastiandammark opened #153 "Editing a redirect sets the site property to All sites"
When you edit an existing redirect the Site dropdown defaults back to *All sites*, and the end user probably doesn't notice this and hits save.
![image](https://user-images.githubusercontent.com/1575483/193573192-200cb9dc-ccd2-4865-a36b-c0bad42af11d.png)

This is an issue in Umbraco v9, and could also be an issue in Umbraco v10

[2022-10-05 16:49] jamiehowarth0 opened #154 "Security: domains not filtered when a user has a root content node set"
When logging in to view redirects, the domains list does not filter out nodes that the user does not have access to.
On a multi-domain site, this can expose other domains and redirects that the user should not have access to.

[2022-10-05 21:48] abjerner commented on #153
The issue has now been fixed as part of the new [`v4.0.4`](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v4.0.4) releases for Umbraco 10.

The fix involved updating a single line, so if the Umbraco 9 package isn't all too different, it shouldn't take that long to fix for the Umbraco 9 package as well.

[2022-10-06 19:49] jamiehowarth0 commented on #154
Further to this, no security (beyond basic control applied with `UmbracoAuthorizedApiController` inheritance) is applied to actions to add, edit or remove redirects, thus allowing a user to potentially craft a HTTP request to manipulate redirects that they should not have access to.

I'll fork this issue out into a separate issue and subsequent PR.

[2022-10-07 09:47] abjerner commented on #154
Hi @jamiehowarth0

There are probably a number of ways to go about for handling permissions, so if you're planning on working on something, it might be a good idea to share your thoughts here first. That way I can hopefully help you in the right direction, and it also improves the chances of a potential PR being accepted.

For now, the basis of this package has been that we trust the users, and th

[2022-10-07 09:53] abjerner opened #155 "Outbound redirect doesn't resolve current URL for content and media destination"
If an outbound redirect is added to a page, and the destination is a content or media item within Umbraco, the URL of that item is stored along with it's `id` and `key`.

If the URL of the destination changes over time, it's still the URL of the time that the outbound redirect was created, that is returned.

Ideally the value converter should resolve the current URL of the content or media item, s

[2022-10-11 01:04] jamiehowarth0 commented on #154
Sounds good - for now, the basic security I've coded up simply uses the user start node (set via the "Content start node" property either on a user group or the user object), which means that if a user only has access to certain content nodes, the dashboard won't leak domain or redirect data from other content nodes the user doesn't have access to.  It's basic and minimal, adding just a couple of

[2022-10-11 01:16] jamiehowarth0 opened #157 "Feature request/security: develop security model for dashboard and user access to redirects"
As per comments on #154, forking out the concept of how to enable more granular security on the package to control user access to redirects (particularly pertinent on multi-site instances, where I've encountered the potential security problem).

[2022-10-12 20:38] abjerner commented on #155
This has now been fixed in [**v3.0.6**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v3.0.6) for Umbraco 9, and should be part of **v4.0.5** for Umbraco 10.

[2022-10-12 20:38] #153 closed, assigned to nobody

[2022-10-25 10:45] alanwthom opened #158 "Redirects not executed when from path begins with "/media/""
Umbraco version: v8.14.0
Skybrud.Umbraco.Redirects version: v2.1.4

Using the redirects package, it appears that any redirect from a location of `/media/` is not able to be processed before Umbraco's internal media handling takes over and attempts to locate the file (note that we're using Azure Blob Storage for media if that affects things). This then results in a 404 page not found response inste

[2022-10-25 17:40] abjerner commented on #158
@alanwthom thanks for reporting 👍

I just tried spinning up a test site for 8.18, and I haven't been able to reproduce the error. I haven't tested with Azure Blob Storage yet, but ideally this shouldn't change the behavior.

To help with debugging, can you share what the `<modules />` element in your root `Web.config` file looks like? For one of our sites, it looks like this:

[code]

The redirect

[2022-10-26 20:22] dampee opened #159 "backoffice not rendering in v10"
After deploy on production, we get a bizar javascript error, and the layout is screwed up. This is only on the content nodes and not on the dashboard.

this is the error and stacktrace from the javascript console
[code]

![afbeelding](https://user-images.githubusercontent.com/1857460/198128457-80bdd1f7-e0ac-4269-9b3b-a2bff1e1fb02.png)

[2022-10-26 22:14] abjerner commented on #159
Hi @dampee

What version of Umbraco and Skybrud Redirects are you running?

It sounds a lot like this issue (which should be fixed as of 4.0.1): https://github.com/skybrud/Skybrud.Umbraco.Redirects/issues/148

[2022-10-28 10:25] dampee commented on #159
It was indeed after an upgrade to the latest version (umbraoc 10.3 + 4.0.2) After reading the issue you mentioned above, I read that you switched to embedded resources. Then the "multidir" error started to make sense.

This error means that the **App_Plugins/Skybrud.Umbraco.Redirects** folder was still available on the production server AND as embedded resource in the DLL.

After deleting this fol

[2022-10-28 10:25] #159 closed, assigned to nobody

[2022-10-28 12:16] abjerner commented on #159
Great to hear it works 👍

With Razor Class Libraries, the files are embedded in the NuGet package, and not the DLL, so locally the files are served from the NuGet package, but in production it should still be physical files.

The culprit behind the issue seemed to be because Umbraco introduced a `redirectsNode` directive that then conflicted with my directive of the same name, so mine was renamed

[2022-11-01 14:57] alanwthom commented on #158
Hi @abjerner

Thanks for your prompt reply and apologies for the delay in mine! I can confirm the modules element of our `web.config` looks similar with the redirects module appearing at the bottom. However, your note about the redirects module only kicking in when the server responds with a 404 status code set off some bells in head. Having looked into this further, we had a default custom errors

[2022-11-01 14:57] #158 closed, assigned to nobody

[2022-11-01 15:02] abjerner commented on #158
No worries ;)

I couldn't reproduce the error with Azure blob storage either. I was waiting for some more time to test it, but good to hear you found the culprit 👍

[2022-11-05 17:05] abjerner opened #160 "Add support for disabling content app through `appsettings.json`"
Eg. something like:

[code]

[2022-11-05 17:37] #160 closed, assigned to abjerner

[2022-11-05 18:18] abjerner opened #161 "Add support for controlling where content app is shown through `appsettings.json`"
Should follow the same format as: https://our.umbraco.com/Documentation/Extending/Content-Apps/#limiting-according-to-type

Eg. something like:

[code]

[2022-11-05 20:03] abjerner opened #162 "Add support for disabling dashboard through `appsettings.json`"

[2022-11-10 23:03] abjerner commented on #160
This is now part of the [**v4.0.5**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v4.0.5) release 🎉

[2022-11-10 23:10] abjerner commented on #161
This is now part of the [**v4.0.5**](https://github.com/skybrud/Skybrud.Umbraco.Redirects/releases/tag/v4.0.5) release 🎉

[2022-11-10 23:10] #161 closed, assigned to abjerner

[2022-11-10 23:12] abjerner opened #163 "Enable support for nullable reference types throughout the package"

[2022-11-15 15:44] FransLammers opened #164 "String reference not set - errors"
Hi @abjerner

We are using the Redirects package 2.1.v in an Umbraco 8.18.5 project.
The project has multiple languages in multiple domains. When we add a redirect for All sites everything works fine, but since there have been redirects added for specific sites we get a lot of errors in the log:

[code]

Is there anything we can do to prevent this, or is it a bug in Redirect?